{% extends  "layout.html" %}
{% block title %}Confirm Email{% endblock %}
{%  block head %}
{% endblock %}
{% block body %}

<form method="POST">
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    {% if status == "sent" %}
    <main>
        <div class="flex h-screen w-screen flex-col items-center justify-center bg-white">
          <h1 class="font-gmt-fira text-5xl font-bold text-gray-800 md:text-6xl">Almost there...</h1>
          <p class="font-gmt-open-sans my-4 px-8 text-center text-2xl font-bold text-gray-600 md:w-1/2 md:px-0">
            We have sent you a verification link at <span class="text-gmt-red-primary font-bold">{{email}}</span>.<br />
            Please check your inbox and click the confirm email link available to complete your subscription with Good Morning Tech.
          </p>
          <img class="hidden md:block" src="../static/SignUp/confirm.svg"  alt="confirmation image"/>
          <p class="font-gmt-open-sans my-2 px-8 text-center text-lg font-semibold leading-8 text-gray-600 md:px-0">Did not receive a link? Check your spam or click <a class="text-gmt-red-primary font-bold" href="">here</a> to send again.</p>
        </div>
      </main>
    {% elif status == "received" %}
    <main>
        <div class="flex h-screen flex-col items-center justify-center">
          <h1 class="font-gmt-open-sans text-center text-4xl font-bold text-black">Confirm your email by clicking the button below.</h1>
          <div>
            <button style="background-color: black;" type="submit" class="focus:shadow-outline mt-4 rounded font-gmt-open-sans bg-black py-2 px-4 text-xl font-bold text-white hover:bg-gray-700 focus:outline-none">Confirm Email</button>
          </div>
        </div>
      </main>
    {% endif %}
</form>
{% endblock %}
