{% extends  "layout.html" %}
{% block title %}Confirm Email{% endblock %}
{% block body %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/confirm.css') }}">
<form method="POST">
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    {% if status == "sent" %}
    <main>
        <div class="text">We have sent you an email at <span class="email">harrydadev@gmail.com</span> with a verification link, once you click that, you’ll be able to access our newsletter.</div>
        <div class="image"><img src="../static/Images/undraw_mailbox_re_dvds 1.svg" alt=""></div>
        <div class="email-fail">Did not recieve an email? Click <a href="#">here</a> or check your spam folder.</div>
    </main>
    {% elif status == "received" %}
        <p>Confirm your email</p>
        <button type="submit">Confirm Email</button>
    {% endif %}
</form>
{% endblock %}