<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Welcome to Good Morning Tech | Home">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://github.com/organizations/GoodMorninTech">
    <meta property="og:description" content="Your daily dose of tech straight to your inbox at your convenience!">
    <meta property="og:site_name" content="Good Morning Tech">
    <meta property="og:image" content="https://goodmorningtech.simonrijntjes.nl/meta-img.png">
    <meta name="twitter:title" content="Welcome to Good Morning Tech | Home">
    <meta name="twitter:description" content=" Your daily dose of tech straight to your inbox at your convenience!">
    <meta name="twitter:image" content="https://goodmorningtech.simonrijntjes.nl/meta-img.png">
    <meta name="twitter:card" content="summary_large_image">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'loader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'misc.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>Good Morning Tech | Home</title>
    <link rel="icon" type="image/x-icon" href="GMT..png">
</head>
<body class="bg-gmt-bg">
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <div> <!--Main Wrapper-->
        <nav class="navbar"> <!--Navbar-->
            <div>
                <a href="/"><img class="ml-8 gmt-icon" src="{{ url_for('static', filename = 'GMT_icon.svg') }}"></a>
            </div>
            <div>
                <ul class="navbar-links">
                    <li class="navbar-element-1"><a class="home" href="#">Home</a></li>
                    <li class="navbar-element-2"><a href="#">Features</a></li>
                    <li class="navbar-element-3"><a href="#">About Us</a></li>
                    <li class="navbar-element-4"><a href="#">Policy</a></li>
                </ul>
            </div>
            <div>
                <a href="/register" class="subscribe-navbtn">Subscribe</a>
            </div>
        </nav>
        <main class="">
            <div class="">
                <h1 class="catchphrase">The <span class="red-text">latest</span> in tech,<br> straight to your<br> <span 
                    class="red-text underline-text">inbox daily</span> <span class="typed-text"></span><span class="cursor">&nbsp;</span></h1>
                    <br>
                <form>
                    <div>
                        <div class="form-line1">
                            <div>
                                <i class="fa-solid fa-envelope icon icon1"></i>
                                <input type="email" required class="email" placeholder="Enter your e-mail ID">
                            </div>
                            <div>
                                <i class="fa-solid fa-clock icon icon2"></i>
                                <select name="timezone" class="timezone" required size="1">
                                    <option value="placeholder">Timezone</option>
                                    <option value="EST">EST</option>
                                    <option value="IST">IST</option>
                                    <option value="GMT">GMT</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="submit">Subscribe</button>
                    </div>
                </form>
                <ul class="ul-deco">
                    <li class=""><span><img src="{{ url_for('static', filename = 'checkmark_icon.svg') }}" class="checkmark"></span>We are<span class="font-bold li-bold-text"> <a href="https://github.com/GoodMorninTech" class="opensource">open-source</a></span>.</li>
                    <li class=""><span><img src="{{ url_for('static', filename = 'checkmark_icon.svg') }}" class="checkmark"></span>We are<span class="font-bold li-bold-text"> active </span>with our developments.</li>
                    <li class=""><span><img src="{{ url_for('static', filename = 'checkmark_icon.svg') }}" class="checkmark"></span>We use<span class="font-bold li-bold-text"> reliable & trustworthy </span>sources for our data.</li>
                </ul>
            </div>
            <div>
                <img class="landing-img" src="{{ url_for('static', filename = 'person-on-laptop.png') }}">
            </div>
        </main>
        <footer>
            <div class="footer"></div>
        </footer>
    </div>

    <script>
        $(window).on("load",function(){
            $(".loader-wrapper").fadeOut("slow");
        });
    </script>

    <script>
        /*I love codepen lol, credit for typewriter anim: https://codepen.io/Coding_Journey/pen/BEMgbX*/
        const typedTextSpan = document.querySelector(".typed-text");
        const cursorSpan = document.querySelector(".cursor");

        const textArray = ["@ 7AM!", "before breakfast!", "during your coffee!", "at a time of your choice!"]; /*EDIT THIS ARRAY FOR MORE TEXT*/
        const typingDelay = 200;
        const erasingDelay = 100;
        const newTextDelay = 2000; // Delay between current and next text
        let textArrayIndex = 0;
        let charIndex = 0;

        function type() {
        if (charIndex < textArray[textArrayIndex].length) {
            if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
            typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
            charIndex++;
            setTimeout(type, typingDelay);
        } 
        else {
            cursorSpan.classList.remove("typing");
            setTimeout(erase, newTextDelay);
        }
        }

        function erase() {
        if (charIndex > 0) {
            if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
            typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex-1);
            charIndex--;
            setTimeout(erase, erasingDelay);
        } 
        else {
            cursorSpan.classList.remove("typing");
            textArrayIndex++;
            if(textArrayIndex>=textArray.length) textArrayIndex=0;
            setTimeout(type, typingDelay + 1100);
        }
        }

        document.addEventListener("DOMContentLoaded", function() { // On DOM Load initiate the effect
        if(textArray.length) setTimeout(type, newTextDelay + 250);
        });
    </script>
</body>
</html>