{% extends "layout.html" %}
{% block title %}
    Home
{% endblock title %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename = 'CSS/index.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename = 'CSS/misc.css') }}">
{% endblock head %}
{% block body %}
    <main>
        <div>
            <section id="hero-section">
                <div class="md:hidden flex flex-col items-center justify-center h-full ">
                    <div>
                        <div class="px-4 pt-16">
                            <h1 class=" font-gmt-fira font-bold text-4xl text-gmt-black-primary text-center ">
                                Get the latest in <span class="text-gmt-red-primary">tech</span>, straight to your inbox <span class="text-gmt-red-primary">daily</span> during your morning coffee!
                            </h1>
                        </div>
                        <div class="px-4">
                            <form action="" class="pt-4">
                                <input type="email"
                                       name="email"
                                       placeholder="yourname@example.com"
                                       id=""
                                       class=" bg-transparent border-2 border-gmt-black-primary px-2 py-1 text-md w-full placeholder:text-gmt-gray-primary mb-1 font-gmt-karla font-semibold ">
                                <button class=" bg-gmt-red-primary px-2 py-1 text-white text-md w-full rounded-lg font-gmt-karla font-semibold "
                                        type="submit">
                                    Subscribe to be delighted!
                                </button>
                            </form>
                        </div>
                        <div>
                            <ul class="space-y-1 max-w-md list-inside text-gmt-black-primary font-bold">
                                <li class="flex items-center px-4 pt-4">
                                    <svg
                                         class="w-8 h-8 mr-1.5 flex-shrink-0"
                                         xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 32 32"
                                         width="32px"
                                         fill="#4F9F8C">
                                        <path d="M 16 4 C 9.3844239 4 4 9.3844287 4 16 C 4 22.615571 9.3844239 28 16 28 C 22.615576 28 28 22.615571 28 16 C 28 9.3844287 22.615576 4 16 4 z M 16 6 C 21.534697 6 26 10.465307 26 16 C 26 21.534693 21.534697 26 16 26 C 10.465303 26 6 21.534693 6 16 C 6 10.465307 10.465303 6 16 6 z M 20.949219 12 L 14.699219 18.25 L 11.449219 15 L 10.050781 16.400391 L 14.699219 21.050781 L 22.349609 13.400391 L 20.949219 12 z"></path>
                                    </svg>
                                    We are completely open-source & free!
                                </li>
                                <li class="flex items-center px-4">
                                    <svg
                                         class="w-8 h-8 mr-1.5 flex-shrink-0"
                                         xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 32 32"
                                         width="32px"
                                         fill="#4F9F8C">
                                        <path d="M 16 4 C 9.3844239 4 4 9.3844287 4 16 C 4 22.615571 9.3844239 28 16 28 C 22.615576 28 28 22.615571 28 16 C 28 9.3844287 22.615576 4 16 4 z M 16 6 C 21.534697 6 26 10.465307 26 16 C 26 21.534693 21.534697 26 16 26 C 10.465303 26 6 21.534693 6 16 C 6 10.465307 10.465303 6 16 6 z M 20.949219 12 L 14.699219 18.25 L 11.449219 15 L 10.050781 16.400391 L 14.699219 21.050781 L 22.349609 13.400391 L 20.949219 12 z"></path>
                                    </svg>
                                    We use reliable & trustworthy sources!
                                </li>
                                <li class="flex items-center px-4">
                                    <svg fill="#4F9F8C"
                                         class="w-8 h-8 mr-1.5 flex-shrink-0"
                                         xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 32 32"
                                         width="32px">
                                        <path d="M 16 4 C 9.3844239 4 4 9.3844287 4 16 C 4 22.615571 9.3844239 28 16 28 C 22.615576 28 28 22.615571 28 16 C 28 9.3844287 22.615576 4 16 4 z M 16 6 C 21.534697 6 26 10.465307 26 16 C 26 21.534693 21.534697 26 16 26 C 10.465303 26 6 21.534693 6 16 C 6 10.465307 10.465303 6 16 6 z M 20.949219 12 L 14.699219 18.25 L 11.449219 15 L 10.050781 16.400391 L 14.699219 21.050781 L 22.349609 13.400391 L 20.949219 12 z"></path>
                                    </svg>
                                    Your newsletter is customizable!
                                </li>
                                <li class="flex items-center px-4">
                                    <svg fill="#4F9F8C"
                                         class="w-8 h-8 mr-1.5 flex-shrink-0"
                                         xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 32 32"
                                         width="32px">
                                        <path d="M 16 4 C 9.3844239 4 4 9.3844287 4 16 C 4 22.615571 9.3844239 28 16 28 C 22.615576 28 28 22.615571 28 16 C 28 9.3844287 22.615576 4 16 4 z M 16 6 C 21.534697 6 26 10.465307 26 16 C 26 21.534693 21.534697 26 16 26 C 10.465303 26 6 21.534693 6 16 C 6 10.465307 10.465303 6 16 6 z M 20.949219 12 L 14.699219 18.25 L 11.449219 15 L 10.050781 16.400391 L 14.699219 21.050781 L 22.349609 13.400391 L 20.949219 12 z"></path>
                                    </svg>
                                    Your privacy is our top priority!
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hidden md:flex md:justify-center md:h-screen">
                    <div class="
                        lg:w-3/4 
                    ">
                        <div class="font-gmt-fira text-6xl font-bold text-black px-16 md:pt-28 lg:pt-18 lg:w-3/4 leading-[4.25rem] md:h-80">
                            <h1>
                                Get the latest in <span class="text-gmt-red-primary">tech</span>, straight to your inbox <span class="text-gmt-red-primary">daily</span> <span id="typed-text"></span><span class="cursor">&nbsp;</span>
                                <script src="../static/JavaScript/landing-page/typewriter.js"></script>
                            </h1>
                        </div>
                        <div>
                            <form action="" class="px-16 pt-6">
                                <input type="email"
                                       placeholder="yourname@example.com"
                                       required
                                       class="bg-transparent text-gmt-gray-primary border-2 border-black px-2 text-2xl font-gmt-fira md:w-[80%] lg:w-[50%] h-11">
                                <button type="submit"
                                        class="bg-gmt-red-primary text-white px-2 text-2xl font-gmt-fira h-11 transition-colors hover:bg-red-500">
                                    Subscribe
                                </button>
                            </form>
                        </div>
                        <div class=" flex justify-around pb-32">
                            <div class="px-16 pt-16">
                                <div>
                                    <div class="h-1 w-1/6 bg-gmt-teal-primary"></div>
                                    <h3 class="font-gmt-fira font-bold text-black text-2xl">Completely open-source</h3>
                                    <p class="font-gmt-karla font-semibold text-gmt-gray-primary text-md w-3/4">
                                        We are 100% open-source on GitHub and are always welcoming new contributors.
                                    </p>
                                </div>
                                <div class="pt-4">
                                    <div class="h-1 w-1/6 bg-gmt-teal-primary"></div>
                                    <h3 class="font-gmt-fira font-bold text-black text-2xl">Customizable</h3>
                                    <p class="font-gmt-karla font-semibold text-gmt-gray-primary text-md w-3/4">
                                        Choose anything from your timezone, the time you'd like to receive the mail  to the number of articles! More features coming soon!
                                    </p>
                                </div>
                            </div>
                            <div class="pt-16 lg:pr-[25%]">
                                <div>
                                    <div class="h-1 w-1/6 bg-gmt-teal-primary"></div>
                                    <h3 class="font-gmt-fira font-bold text-black text-2xl">Reliable & Trustworthy</h3>
                                    <p class="font-gmt-karla font-semibold text-gmt-gray-primary text-md w-3/4">
                                        We use the most reliable news sources, you matter a lot to us!
                                    </p>
                                </div>
                                <div class="pt-4">
                                    <div class="h-1 w-1/6 bg-gmt-teal-primary"></div>
                                    <h3 class="font-gmt-fira font-bold text-black text-2xl">100% Free & Secure</h3>
                                    <p class="font-gmt-karla font-semibold text-gmt-gray-primary text-md w-3/4">
                                        We are 100% free and plan to remain free for the rest of our journey! Fear not, we will never compromise your data, its in safe hands.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:hidden lg:block lg:bottom-0 lg:right-0 lg:w-1/4">
                        <img class="-z-10 w-[52rem] pt-16"
                             src="../static/landing-page/landing-img.svg"
                             alt="">
                    </div>
                </div>
                <script src="../static/JavaScript/landing-page/scroller.js"></script>
            </section>
            <section class="hidden lg:block lg:bg-[#EBE9E4] lg:pt-4">
                <div>
                    <h1 class="text-5xl font-bold font-gmt-fira m-4">
                        <mark class="highlight pb-1 pl-2 pr-16">What we offer:</mark>
                    </h1>
                </div>
                <div class="md:mx-auto md:scale-90 lg:scale-100 md:flex md:flex-row lg:flex lg:flex-row justify-evenly mt-32 pb-32 ">
                    <div class="max-w-sm border border-gray-200 rounded-lg shadow-md bg-gmt-black-primary lg:ml-32 
                    lg:hover:shadow-lg lg:hover:shadow-black transition duration-300 ease-in-out transform lg:hover:-translate-y-1 lg:hover:scale-105 lg:hover:cursor-pointer
                    
                    ">
                        <img class="rounded-t-lg"
                             src="../static/landing-page/offer-gmt-1.png"
                             alt=""/>
                        <div class="p-5">
                            <div>
                                <h5 class="mb-1 text-3xl font-bold tracking-tight font-gmt-fira text-white">Daily Coding Challenges</h5>
                                <div class="w-1/2 h-1 rounded-r-md bg-gmt-red-primary mb-2"></div>
                            </div>
                            <p class="mb-2 font-gmt-open-sans text-white font-semibold">
                                Improve your coding skills and stay up-to-date with the latest trends on GitHub by subscribing to our daily challenges. To access these challenges and view trending repositories, simply opt-in.
                            </p>
                            <p class="mb-2 font-gmt-open-sans text-white font-semibold">
                                Click <a href="#"
    class="underline hover:cursor-pointer hover:text-gmt-red-primary">here</a> to visit our site and see today's challenge and trending repository.
                            </p>
                        </div>
                    </div>
                    <div class="max-w-sm border border-gray-200 rounded-lg shadow-md bg-gmt-black-primary 
                    lg:hover:shadow-lg lg:hover:shadow-black transition duration-300 ease-in-out transform lg:hover:-translate-y-1 lg:hover:scale-105 lg:hover:cursor-pointer">
                        <img class="rounded-t-lg"
                             src="../static/landing-page/offer-gmt-2.png"
                             alt=""/>
                        <div class="p-5">
                            <div>
                                <h5 class="mb-1 text-3xl font-bold tracking-tight font-gmt-fira text-white">
                                    Customizable Newsletter
                                </h5>
                                <div class="w-1/2 h-1 rounded-r-md bg-gmt-red-primary mb-2">
                                </div>
                            </div>
                            <p class="mb-2 font-gmt-open-sans text-white font-semibold">
                                Our newsletter offers complete customization, including the option to choose your timezone, delivery time, frequency, and number of articles. You can also select which days of the week you want to receive it. All of these options allow you to tailor the newsletter to fit your needs and make staying informed convenient.
                            </p>
                            <a href="#"
                               class="text-white font-semibold text-left text-xl underline hover:cursor-pointer hover:text-gmt-red-primary">
                                Sign me up now!
                            </a>
                        </div>
                    </div>
                    <div class="max-w-sm border border-gray-200 rounded-lg shadow-md bg-gmt-black-primary lg:mr-32 
                    lg:hover:shadow-lg lg:hover:shadow-black transition duration-300 ease-in-out transform lg:hover:-translate-y-1 lg:hover:scale-105 lg:hover:cursor-pointer">
                        <img class="rounded-t-lg"
                             src="../static/landing-page/offer-gmt-3.png"
                             alt=""/>
                        <div class="p-5">
                            <div>
                                <h5 class="mb-1 text-3xl font-bold tracking-tight font-gmt-fira text-white">
                                    Join our Writing Team
                                </h5>
                                <div class="w-1/2 h-1 rounded-r-md bg-gmt-red-primary mb-2">
                                </div>
                            </div>
                            <p class="mb-2 font-gmt-open-sans text-white font-semibold">
                                Our newsletters are automated, but we are always looking for volunteers to contribute and bring their unique perspectives to the table. If you are interested in joining our writing team, click <a href="#"
    class="hover:cursor-pointer hover:text-gmt-red-primary underline">here</a> to learn more and apply.
                            </p>
                            <p class="mb-2 font-gmt-open-sans text-white font-semibold">
                                Note: this feature is currently in progress and will be available soon
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="hidden lg:block">
                <div>
                    <h1 class="text-5xl font-bold font-gmt-fira m-4">
                        <mark class="highlight-3 pb-1 pl-2 pr-16">Featured Stories:</mark>
                    </h1>
                </div>
                <div class=" flex flex-row mt-16 justify-around ">
                    <div class="mx-32">
                        <h5 class=" font-bold font-gmt-fira text-3xl text-left ">
                            Meta fined €390m over use of data for targeted ads
                        </h5>
                        <div>
                            <img class="rounded-lg my-4 h-96"
                                 src="https://ichef.bbci.co.uk/news/976/cpsprodpb/2F4D/production/_128190121_gettyimages-1236190685.jpg.webp"
                                 alt="">
                        </div>
                        <div class=" font-gmt-open-sans text-left font-semibold ">
                            <p class="text-ellipsis w-gmt-128">
                                Meta, the company behind the popular social media platform Facebook, has been fined €390m by the French data protection authority CNIL for using personal data for targeted advertising. The fine is the largest ever issued by the CNIL, and is the latest in a series of fines issued by the authority against Meta.
                            </p>
                            <p class="pt-4 text-right text-lg underline">
                                <a href="#">Continue reading this article...</a>
                            </p>
                            <div class="text-right">
                                <p class="text-xl">
                                    Courtesy: BBC
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mx-32">
                        <h5 class=" font-bold font-gmt-fira text-3xl text-left ">
                            Meta fined €390m over use of data for targeted ads
                        </h5>
                        <div>
                            <img class="rounded-lg my-4 h-96"
                                 src="https://ichef.bbci.co.uk/news/976/cpsprodpb/2F4D/production/_128190121_gettyimages-1236190685.jpg.webp"
                                 alt="">
                        </div>
                        <div class=" font-gmt-open-sans text-left font-semibold ">
                            <p class="text-ellipsis w-gmt-128">
                                Meta, the company behind the popular social media platform Facebook, has been fined €390m by the French data protection authority CNIL for using personal data for targeted advertising. The fine is the largest ever issued by the CNIL, and is the latest in a series of fines issued by the authority against Meta.
                            </p>
                            <p class="pt-4 text-right text-lg underline">
                                <a href="#">Continue reading this article...</a>
                            </p>
                            <div class="text-right">
                                <p class="text-xl">
                                    Courtesy: BBC
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" flex flex-row justify-center ">
                    <div class=" bg-gmt-red-primary w-fit py-6 pr-16 pl-4 rounded-br-lg shadow-lg shadow-gray-600 my-16 ">
                        <h3 class=" font-bold font-gmt-fira text-3xl text-left text-white ">
                            Wish to read more from us?
                        </h3>
                        <p class=" font-gmt-karla text-left font-semibold text-white text-xl ">
                            Subscribe to our newsletter, it's absolutely free!
                        </p>
                        <form class="pt-1">
                            <input type="text"
                                   placeholder="Enter your email address"
                                   required
                                   class=" w-96 h-8 px-2 placeholder:text-black placeholder:font-semibold placeholder:font-gmt-open-sans font-semibold outline-none "/>
                            <button type="submit"
                                    class=" bg-gmt-black-primary text-white font-bold font-gmt-open-sans px-4 py-1 hover:bg-white hover:text-black hover:cursor-pointer transition duration-300 ease-in-out ">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </section>
            <section class="bg-[#EBE9E4] lg:pt-4 lg:block hidden">
                <div>
                    <h1 class="text-5xl font-bold font-gmt-fira m-4">
                        <mark class="highlight pb-1 pl-2 pr-16">Some FAQs:</mark>
                    </h1>
                </div>
                <div class=" flex flex-col mt-16 justify-center ">
                    <div class="ml-16 mb-8">
                        <div class=" flex flex-row items-center ">
                            <span>
                                <img class="border-l-gmt-red-primary border-l-4 py-2 pl-2"
                                     src="../static/landing-page/Q..svg"
                                     alt="">
                            </span>
                            <span class=" font-bold font-gmt-open-sans text-3xl px-2 ">How does this project function if it's 100% free & open-source?</span>
                        </div>
                        <div class=" flex flex-row items-center ">
                            <span>
                                <img class="border-l-gmt-teal-primary border-l-4 py-2 pl-2"
                                     src="../static/landing-page/A..svg"
                                     alt="">
                            </span>
                            <span class=" font-bold font-gmt-open-sans text-lg px-2 w-3/4 ">We rely on donations on our <a class="underline" href="#">GitHub</a> & <a class="underline" href="#">Ko-fi</a> page along with kind sponsors who help this project. To donate, visit <a class="underline" href="#">this</a> page & view our sponsors, visit <a class="underline" href="#">this</a> page.</span>
                        </div>
                    </div>
                    <div class="ml-16 mb-8">
                        <div class=" flex flex-row items-center ">
                            <span>
                                <img class="border-l-gmt-red-primary border-l-4 py-2 pl-2"
                                     src="../static/landing-page/Q..svg"
                                     alt="">
                            </span>
                            <span class=" font-bold font-gmt-open-sans text-3xl px-2 ">How do I get in touch with your team?</span>
                        </div>
                        <div class=" flex flex-row items-center ">
                            <span>
                                <img class="border-l-gmt-teal-primary border-l-4 py-2 pl-2"
                                     src="../static/landing-page/A..svg"
                                     alt="">
                            </span>
                            <span class=" font-bold font-gmt-open-sans text-lg px-2 w-3/4 ">You can write to us at <a class="underline" href="#">support@goodmorningtech.news</a> or visit our <a class="underline" href="#">contact</a> page. We also have a <a class="underline" href="#">Discord server</a> where we are active and constantly interacting with our community!</span>
                        </div>
                    </div>
                    <div class="ml-16 mb-8">
                        <div class=" flex flex-row items-center ">
                            <span>
                                <img class="border-l-gmt-red-primary border-l-4 py-2 pl-2"
                                     src="../static/landing-page/Q..svg"
                                     alt="">
                            </span>
                            <span class=" font-bold font-gmt-open-sans text-3xl px-2 ">How do I unsubscribe/change my newsletter settings?</span>
                        </div>
                        <div class=" flex flex-row items-center ">
                            <span>
                                <img class="border-l-gmt-teal-primary border-l-4 py-2 pl-2"
                                     src="../static/landing-page/A..svg"
                                     alt="">
                            </span>
                            <span class=" font-bold font-gmt-open-sans text-lg px-2 w-3/4 ">To unsubscribe, visit <a class="underline" href="#">this</a> page. To change your settings, visit <a class="underline" href="#">this</a> page. Alternatively, we include links at the bottom of our newsletter (footer section) for the same.</span>
                        </div>
                    </div>
                    <div class="ml-16 mb-8">
                        <div class=" flex flex-row items-center ">
                            <span>
                                <img class="border-l-gmt-red-primary border-l-4 py-2 pl-2"
                                     src="../static/landing-page/Q..svg"
                                     alt="">
                            </span>
                            <span class=" font-bold font-gmt-open-sans text-3xl px-2 ">How do I contribute to this project?</span>
                        </div>
                        <div class=" flex flex-row items-center ">
                            <span>
                                <img class="border-l-gmt-teal-primary border-l-4 py-2 pl-2"
                                     src="../static/landing-page/A..svg"
                                     alt="">
                            </span>
                            <span class=" font-bold font-gmt-open-sans text-lg px-2 w-3/4 ">Contributing is as simple as heading to our GitHub page <a class="underline" href="#">here</a> and following out contribution guide on the page. If you'd like to contribute as an author, we welcome that too! To learn more, visit <a class="underline" href="#">this</a> page.</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}