<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Good Morning Tech</title>
        <link rel="stylesheet" href="../static/tailwind.css">
        <link rel="stylesheet" href="../static/loader.css">
        <link rel="stylesheet" href="../static/landing-page/typewriter.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
              rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
              integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"/>
    </head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-789RZYD1XN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-789RZYD1XN');
    </script>
    <body class="bg-[#F6F4F0] selection:bg-gmt-black-primary selection:text-red-600">
        <header id="header" class="top-0 z-50 w-full">
            <nav class="flex flex-wrap items-center justify-between w-full py-4 md:py-0 px-4 md:px-8 text-xl text-gmt-black-primary font-semibold font-gmt-fira">
                <div>
                    <a href="">
                        <img class="w-24 md:w-28" src="{{ url_for('static', filename='landing-page/GMT.svg') }}" alt="">
                    </a>
                </div>
                <div class="hidden w-full md:flex md:items-center md:justify-between md:w-auto"
                     id="navigation-items">
                    <ul class="text-neutral-900 pt-4 md:flex md:justify-between md:pt-0">
                        <li>
                            <a class="md:p-4 py-2 block md:border-t-gmt-red-primary md:border-t-4 hover:text-red-500 transition-colors text-center text-base md:text-xl lg:text-2xl md:border-b-0"
                               href="{{ url_for('views.index') }}">Home</a>
                        </li>
                        <li>
                            <a class="md:p-4 py-2 block md:border-t-white md:border-t-4 hover:text-red-500 transition-colors text-center text-base md:text-xl lg:text-2xl"
                               href="#">About Us</a>
                        </li>
                        <li>
                            <a class="md:p-4 py-2 block md:border-t-white md:border-t-4 hover:text-red-500 transition-colors text-center text-base md:text-xl lg:text-2xl"
                               href="#">Contact Us</a>
                        </li>
                        <li>
                            <a class="md:p-4 py-2 block md:border-t-white md:border-t-4 hover:text-red-500 transition-colors text-center text-base md:text-xl lg:text-2xl"
                               href="#">Contribute</a>
                        </li>
                        <li>
                            <a class="md:p-4 py-2 block md:hidden hover:text-red-700 transition-colors text-center text-base text-gmt-red-primary"
                               href="{{ url_for('views.register') }}">SUBSCRIBE!</a>
                        </li>
                    </ul>
                </div>
                <div id="subscribe"
                     class="hidden bg-gmt-red-primary px-2 py-1 text-white md:visible md:px-4 md:py-1 md:shadow-md md:flex md:justify-between md:w-auto transition-colors hover:bg-red-500 md:text-xl lg:text-2xl sticky z-50">
                    <a href="{{ url_for('views.register') }}">SUBSCRIBE</a>
                </div>
                <svg class="h-6 w-6 cursor-pointer md:hidden block"
                     fill="#000000"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 50 50"
                     width="1599px"
                     height="1599px"
                     id="hamburger-menu">
                    <path d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z"></path>
                </svg>
            </nav>
            <script src="{{ url_for('static', filename='Javascript/navbar.js') }}"></script>
        </header>
        {% block body %}{% endblock %}
        <footer class=" w-full h-fit bg-gmt-black-primary font-gmt-open-sans text-white text-left font-semibold lg:block hidden">
            <div class=" w-full h-fit divide-y-2 px-16 divide-white ">
                <div class=" flex flex-row justify-between items-center divide-x-2 divide-white py-8 ">
                    <div class=" ml-16 ">
                        <div class=" mt-2 ">
                            <img class="w-max" src="../static/footer/gmt-white.png" alt="">
                        </div>
                        <div class=" mt-4 ">
                            <p>
                                Mail us at: <a href="#">support@goodmorningtech.news</a>
                            </p>
                            <p>Beta Release: 1.0.0</p>
                        </div>
                        <div class=" mt-8 ">
                            <h3 class=" font-bold text-xl ">Head Developers:</h3>
                            <ul class=" font-semibold text-md ">
                                <li>
                                    <a href="#">@kappq</a>
                                </li>
                                <li>
                                    <a href="#">@immaharry</a>
                                </li>
                                <li>
                                    <a href="#">@levanivashadze</a>
                                </li>
                                <li>
                                    <a href="#">@opensourcesimon</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" flex flex-row justify-center items-center mr-16 ">
                        <div class=" mx-16 ">
                            <h3 class=" font-bold text-xl my-2 ">BUILT WITH:</h3>
                            <ul class=" flex flex-col justify-between items-start w-auto ">
                                <li>
                                    <a href="https://cybrancee.com/">
                                        <img class=" w-36 " src="../static/footer/cybrancee.png">
                                    </a>
                                </li>
                                <li class=" mt-2 ">
                                    <a href="https://icons8.com/">
                                        <img class=" w-28 " src="../static/footer/icons8.png">
                                    </a>
                                </li>
                                <li class=" mt-2 ">
                                    And love... 🤍
                                </li>
                            </ul>
                        </div>
                        <div class=" mr-16 ">
                            <h3 class=" font-bold text-xl my-2 ">
                                SITE NAVIGATOR:
                            </h3>
                            <div class=" flex flex-row justify-between ">
                                <div class=" mr-6 ">
                                    <ul>
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="#">Terms & Conditions</a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            <a href="#">Contribute</a>
                                        </li>
                                        <li>
                                            <a href="#">Write for Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Subscribe</a>
                                        </li>
                                        <li>
                                            <a href="#">Unsubscribe</a>
                                        </li>
                                        <li>
                                            <a href="#">Credits & Tech</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class=" mr-16 ">
                            <h3 class=" font-bold text-xl my-2 ">
                                CONTRIBUTE:
                            </h3>
                            <ul>
                                <li>
                                    <a href="#">Report a Bug</a>
                                </li>
                                <li>
                                    <a href="#">Suggest a Feature</a>
                                </li>
                                <li>
                                    <a href="#">Project Maintenance</a>
                                </li>
                                <li>
                                    <a href="#">Become a Writer</a>
                                </li>
                                <li>
                                    <a href="#">Community Support</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mr-16">
                            <h3 class=" font-bold text-xl my-2 ">
                                SOCIAL MEDIA:
                            </h3>
                            <ul>
                                <li>
                                    Twitter: <a class="underline" href="#">@goodmorningtech</a>
                                </li>
                                <li>
                                    Instagram: <a class="underline" href="#">@news_goodmorningtech</a>
                                </li>
                                <li>
                                    Discord: <a class="underline" href="#">dsc.gg/goodmorningtech</a>
                                </li>
                                <li>
                                    Ko-Fi: <a class="underline" href="#">@goodmorningtech</a>
                                </li>
                                <li>
                                    GitHub: <a class="underline" href="#">goodmorningtech (repository)</a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class=" ml-16 py-8 ">
                        <p>
                            <span class=" font-bold ">Good Morning Tech</span> is a project by <span class=" font-bold ">Good Morning Tech Team</span> and is licensed under the <span class=" font-bold ">MIT License</span>. All rights reserved.
                        </p>
                        <p>
                            <span class=" font-bold ">Good Morning Tech</span> is not affiliated with any of the companies mentioned in the articles. All trademarks and registered trademarks are the property of their respective owners.
                        </p>
                        <p>
                            © 2023 Good Morning Tech. All rights reserved
                        </p>
                    </div>
                </div>
            </footer>
        </body>
    </html>
