<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciao | Good Morning Tech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/leave.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta property="og:title" content="Unsubscribe from Good Morning Tech">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://github.com/organizations/GoodMorninTech">
    <meta property="og:description" content="Although we don't wish to see you leave, some things are beyound our control. Unsubscribe from Good Morning Tech's newsletter.">
    <meta property="og:site_name" content="Good Morning Tech">
    <meta property="og:image" content="https://goodmorningtech.news/static/goodbye.png">
    <meta name="twitter:title" content="Unsubscribe from Good Morning Tech">
    <meta name="twitter:description" content="Although we don't wish to see you leave, some things are beyound our control. Unsubscribe from Good Morning Tech's newsletter.">
    <meta name="twitter:image" content="https://goodmorningtech.news/static/goodbye.png">
    <meta name="twitter:card" content="summary_large_image">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div>
            <h1>We're <u>sad</u> to see you leave...</h1>
        </div>
        <div>
            <img src="{{ url_for('static', filename = 'Images/goodbye.svg') }}" alt="goodbye">
        </div>
        <div>
            <h2>To unsubscribe, enter your email and we'll shoot you an email with details to help you opt-out.</h2>
        </div>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <div>
            <form class="form-div" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div>
                    <input class="email" required type="email" placeholder="justinfoley@goodmorning.tech" name="email">
                </div>
                <div>
                    <button class="submit-btn" type="submit">Send Email</button>
                </div>
            </form>
        </div>
        <div>
            <h3>In case you ever change your mind, you can always <a href="{{ url_for('views.register') }}">resubscribe</a>.</h3>
        </div>
    </main>
</body>
</html>