{% extends "layout.html" %}
{% block title %}Sign up{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/sign-up.css') }}">
{% endblock head %}
{% block body %}
<main>
    <div class="container">
        <div class="thumbnail">
            <div class="title">Welcome to <br>Good Morning Tech</div>
            <!--Alternate video: https://assets7.lottiefiles.com/packages/lf20_mhdn5srg.json-->
            <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_iywakhjv.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>            <!-- <img src="{{ url_for('static', filename = 'Images/dude_slurping.svg') }}"> -->
        </div>
        <div class="form">
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div><h1 class="form-title">Join our newsletter</h1></div>
                {% if error %}
                <p class="error">{{ error }}</p>
                <!-- error class needs styling -->
                {% endif %}
                
                <div><input name="email" type="email" class="email-box email-address" placeholder="Email address"required></div>
                <div class="time-box">
                    <select name="timezone-selection" required class="timezone">
                        <!-- value needs to be UTC time offset -->
                        <option value="placeholder" disabled selected hidden>Timezone</option>
                        <option class="PST" value="-8">Pacific Time (UTC -8)</option>
                        <option class="MST" value="-7">Mountain Time (UTC -7)</option>
                        <option class="CST" value="-6">Central Time (UTC -6)</option>
                        <option class="EST" value="-5">Eastern Time (UTC -5)</option>
                        <option class="BRT" value="-3">Brasilia Standard Time (UTC -3)</option>
                        <option class="GMT UTC" value="0">Greenwich Mean Time (UTC +0)</option>
                        <option class="CET" value="1">Central European Time (UTC +1)</option>
                        <option class="MSK" value="3">Moscow Standard Time (UTC +3)</option>
                        <option class="GET" value="4">Georgian Standard Time (UTC +4)</option>
                        <option class="IST" value="5.30">Indian Standard Time (UTC +5:30)</option>
                        <option class="CST" value="8">China Standard Time (UTC +8)</option>
                        <option class="JST" value="9">Japan Standard Time (UTC +9)</option>
                        <option class="AEDT" value="10">Australian Eastern Standard Time (UTC +11)</option>
                    </select>
                    <select name="time-selection" required class="time-selection">
                        <option value="" disabled selected hidden>Time</option>
                        <option value="00">00:00</option>
                        <option value="01">01:00</option>
                        <option value="02">02:00</option>
                        <option value="03">03:00</option>
                        <option value="04">04:00</option>
                        <option value="05">05:00</option>
                        <option value="06">06:00</option>
                        <option value="07">07:00</option>
                        <option value="08">08:00</option>
                        <option value="09">09:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                        <option value="21">21:00</option>
                        <option value="22">22:00</option>
                        <option value="23">23:00</option>
                    </select>
                </div>
                <div class="day-selection">
                    <label for="days" class="days-label">Days you'd like the mail on</label>
                    <div class="days-input">
                        <div class="everyday"><input type="checkbox" class="everyday checkbox" name="days" checked>
                            Everyday
                        </div>
                        <div class="weekday"><input type="checkbox" class="weekdays checkbox" name="days"> Weekdays
                        </div>
                        <div class="weekend"><input type="checkbox" class="weekends checkbox" name="days"> Weekends
                        </div>
                    </div>
                </div>
                <div class="article-counter-container">
                    <label for="article-counter">How many articles would you like?</label>
                    <input type="range" max="12" min="4" value="6" name="article-counter" class="slider">
                    <p class="label-for-range slider-counter">Count: 6</p>
                </div>
                <div class="tos">By subscribing you agree to our <a href="#">terms of service</a>.</div>
                <div class="g-recaptcha" data-sitekey="{{ captcha_key }}" id="captcha"></div>
                <div class="submit-box">
                    <button type="submit" class="submit">Subscribe!</button>
                </div>
            </form>
        </div>
    </div>
</main>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="{{ url_for('static', filename = 'JavaScript/sign-up.js') }}"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock body %}