<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/sign-up-2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="container">
            <div>
                <img src="../static/signup-page-img.png">
            </div>
            <div>
                <form>
                    <h1>Sign up with Good Morning Tech</h1>
                    <div>
                        <label for="email-address">EMAIL ADDRESS:</label>
                        <input type="email" placeholder="justinfoley@goodmorning.tech">
                    </div>
                    <div>
                        <div>
                            <label for="timezone">YOUR TIMEZONE:</label>
                            <select name="timezone">
                                <option value="EST">EST</option>
                                <option value="IST">IST</option>
                                <option value="GMT">GMT</option>
                                <option value="CET">CET</option>
                                <option value="PST">PST</option>
                                <option value="CST">CST</option>
                                <option value="MST">MST</option>
                                <option value="AST">AST</option>
                            </select>
                        </div>
                        <div>
                            <label for="time-preference">TIME PREFERENCE:</label>
                            <select name="time-preference">
                                <option value="5">5:00</option>
                                <option value="6">6:00</option>
                                <option value="7">7:00</option>
                                <option value="8">8:00</option>
                                <option value="9">9:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="email-days">DAYS YOU WOULD LIKE MAIL ON:</label>
                        <div>
                            <input type="checkbox" name="email-days" value="everyday">EVERYDAY
                            <input type="checkbox" name="email-days" value="weekdays">WEEKDAYS
                            <input type="checkbox" name="email-days" value="weekends">WEEKENDS
                        </div>
                    </div>
                    <div>
                        <label for="categories">CATEGORIES YOU PREFER:</label>
                        <div>
                            <input type="checkbox" name="categories" value="mobiles">MOBILES
                            <input type="checkbox" name="categories" value="laptops">LAPTOPS
                            <input type="checkbox" name="categories" value="gaming">GAMING
                        </div>
                        <div>
                            <input type="checkbox" name="categories" value="metaverse">METAVERSE
                            <input type="checkbox" name="categories" value="coding">CODING
                            <input type="checkbox" name="categories" value="software">SOFTWARE
                        </div>
                        <div>
                            <input type="checkbox" name="categories" value="other">ALL CATEGORIES
                        </div>
                    </div>
                    <div>
                        <label for="article-count">HOW MANY ARTICLES WOULD YOU LIKE?</label><br>
                        <input type="range" name="article-count" min="1" max="10" value="5">
                        <p>COUNT: 5 ARTICLES</p>
                    </div>
                    <div>
                        <button type="submit">Sign me up!</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>