{% include "header.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'sign-up.css') }}">
        <form method="POST">
            <h1>Subscribe to our<br> Newsletter!</h1>
            {% if error %}
                <p class="error">{{ error }}</p>
<!--            error class needs styling-->
            {% endif %}
            <div>
                <label for="email">Email ID: </label>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <input type="text" name="email" placeholder="johndoe@janedoe.com" required class="email">
                </div>
            </div>
            <div class="form-line2">
                <div>
                    <label for="timezone">Timezone: </label>
                    <div>
                        <i class="fa-solid fa-clock clock1"></i>
                        <select class="timezone-selector" name="timezone" required>
                            <option value="EST">EST</option>
                            <option value="IST">IST</option>
                            <option value="GMT">GMT</option>
                            <option value="CET">CET</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="time-preference" class="time-preference-label">Time preference: </label>
                    <div>
                        <i class="fa-solid fa-clock clock2"></i>
                        <select name="time-preference" required class="time-preference">
                            <option value="5">5:00</option>
                            <option value="6">6:00</option>
                            <option value="7">7:00</option>
                            <option value="8">8:00</option>
                            <option value="9">9:00</option>
                            <option value="10">10:00</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <label for="days">Days you'd like the mails on: </label><br>
                <i class="fa-solid fa-calendar-days"></i>
                    <select name="days" class="days-selection" multiple size="1">
                        <option value="everyday">Everyday</option>
                        <option value="mon">Monday</option>
                        <option value="tue">Tuesday</option>
                        <option value="wed">Wednesday</option>
                        <option value="thu">Thursday</option>
                        <option value="fri">Friday</option>
                        <option value="sat">Saturday</option>
                        <option value="sun">Sunday</option>
                    </select>
            </div>
            <div>
                <label for="categories">Preferred Categories: </label><br>
                <i class="fa-solid fa-heart"></i>
                <select name="categories" multiple size="1" class="categories-selection">
                    <option value="placeholder">I prefer...</option>
                    <option value="c1">Category</option>
                    <option value="c2">Category</option>
                    <option value="c3">Category</option>
                    <option value="c4">Category</option>
                </select>
            </div>
            <div>
                <p class="footnote">By signing up, I accept the <a href="#" class="policy">privacy policy</a>.</p>
            </div>
            <div>
                <button type="submit" class="signup">Sign me up now!</button>
            </div>
        </form>
    </div>
{% include "footer.html" %}
