{% extends "layout.html" %}
{% block title %}Sign up{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/sign-up.css') }}">
{% endblock head %}
{% block body %}
<main>
    <div class="container">
        <div class="thumbnail">
            <div class="title">Welcome to <br>Good Morning Tech</div>
            <img src="{{ url_for('static', filename = 'Images/dude_slurping.svg') }}">
        </div>
        <div class="form">
            <form method="post">
                <div><h1 class="form-title">Join our newsletter</h1></div>
                {% if error %}
                <p class="error">{{ error }}</p>
                <!-- error class needs styling -->
                {% endif %}
                <div><input name="email" type="email" class="email-box email-address" placeholder="Email address"
                            required></div>
                <div class="time-box">
                    <select name="timezone-selection" class="timezone" required>
                        <!-- value needs to be UTC time offset -->
                        <option value="" disabled selected hidden>Timezone</option>
                        <option value="-8">Pacific Time (UTC -8)</option>
                        <option value="-7">Mountain Time (UTC -7)</option>
                        <option value="-6">Central Time (UTC -6)</option>
                        <option value="-5">Eastern Time (UTC -5)</option>
                        <option value="-3">Brasilia Standard Time (UTC -3)</option>
                        <option value="0">Greenwich Mean Time (UTC +0)</option>
                        <option value="1">Central European Time (UTC +1)</option>
                        <option value="3">Moscow Standard Time (UTC +3)</option>
                        <option value="4">Georgian Standard Time (UTC +4)</option>
                        <option value="5.30">Indian Standard Time (UTC +5:30)</option>
                        <option value="8">China Standard Time (UTC +8)</option>
                        <option value="9">Japan Standard Time (UTC +9)</option>
                        <option value="10">Australian Standard Time (UTC +10)</option>
                    </select>
                    <select name="time-selection" required class="time-selection">
                        <option value="" disabled selected hidden>Time</option>
                        <option value="5">5:00 AM</option>
                        <option value="6">6:00 AM</option>
                        <option value="7">7:00 AM</option>
                        <option value="8">8:00 AM</option>
                        <option value="9">9:00 AM</option>
                        <option value="10">10:00 AM</option>
                    </select>
                </div>
                <div class="day-selection">
                    <label for="days" class="days-label">Days you'd like the mail on</label>
                    <div class="days-input">
                        <div class="everyday"><input type="checkbox" class="everyday checkbox" name="days" checked>
                            Everyday
                        </div>
                        <div class="weekday"><input type="checkbox" class="weekdays checkbox" name="days"> Weekdays
                        </div>
                        <div class="weekend"><input type="checkbox" class="weekends checkbox" name="days"> Weekends
                        </div>
                    </div>
                </div>
                <div class="article-counter-container">
                    <label for="article-counter">How many articles would you like?</label>
                    <input type="range" max="12" min="4" value="6" name="article-counter" class="slider">
                    <p class="label-for-range slider-counter">Count: 6</p>
                </div>
                <div class="tos">By subscribing you agree to our <a href="#">terms of service</a>.</div>
                <div class="submit-box">
                    <button type="submit" class="submit">Subscribe!</button>
                </div>
            </form>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename = 'JavaScript/sign-up.js') }}"></script>
{% endblock body %}