{% extends "layout.html" %}
{% block title %}Contribute{% endblock %}
{% block body %}


    </div>
    <div class="grid grid-cols-2 gap-1 w-4">



        <div>
            <!--The image-->
            <img src="../../static/landing-page/Screenshot_20230216_174049_Gallery.jpg"img" width="550" height="250"> 
        </div>
        
        <div>
            
            <!--The Form-->

            <h1 class="text-[#C04040]font-gmt-fira font-bold text-3xl">Write for us</h1>

            <p1 class="font-gmt-open-sans text-lg font-bold  text-gmt-gray-primary text-md w-3/4  ">please note that before signing up with us, you must be subscribed to the newsletter.</p1><br>

            <label for="Name" class="font-bold" >What is your name (an alias works as well)</label><br>
            <input type="text" placeholder="insert face- HarryDaDev" id="Name" name="Name" class="font-gmt-karla text-gmt-gray-primary text-md w-3/4 font-semibold
            bg-gmt-background border-2 border-black border-solid px-1 rounded"><br>

            <label for="email" class="font-bold">Your Email Address (same one you are subscribed with).</label><br>
            <input type="email" placeholder="@ example@goodmorningtech.new " id="email" name="email"class="font-gmt-karla text-gmt-gray-primary text-md w-3/4 font-semibold 
            bg-gmt-background border-2 border-black border-solid px-1 rounded"><br>

            <label for="Name" class="font-bold">Alternate Point of Contact.</label><br>
            <input type="text" placeholder="# Discord,Slack,Google Chat,Skype etc. | Username " id="Contact" name="Contact"
            class="font-gmt-karla text-gmt-gray-primary text-md w-3/4 font-semibold  bg-gmt-background border-2 border-black border-solid px-1 rounded"> <br>

            <label for="Writing-Experience "class="font-bold">Why would you like to write for us?</label><br>
            <textarea id="Writer-Exp"name="Writer Experience details" placeholder="I would like to write because..." rows="4" cols="30" 
            class="font-gmt-karla text-gmt-gray-primary text-md w-3/4 font-semibold bg-gmt-background border-2 border-black border-solid px-1
            rounded "></textarea><br>

            <label for="Link" class="font-bold ">Any link(s) to display your past work as a writer?</label><br>
            <textarea id="Link"name="Writer Experience details" Placeholder="I have a few blogs at..." rows="3" cols="30" class="font-gmt-karla
             text-gmt-gray-primary text-md w-3/4 font-semibold  bg-gmt-background border-2 border-black border-solid px-2 rounded"></textarea></textarea><br>

            <p1 class="font-gmt-open-sans text-sm font-bold  text-gmt-black-primary text-md w-2/3  ">Please note that this application can only be sumbitted once, please omit any errors.You will hear back from us within 2 days with further information.
            </p1><br>
            <button class="bg-gmt-black-primary text-md font-gmt-karla w-3/4 rounded px-2 py-1 font-semibold text-white" type="submit">
                 Yes I am sure! Apply now</button><br>
        </div class=mx-8...>
    </div>
{% endblock %}