{% extends "layout.html" %}
{% block title %}Contact Us{% endblock %}
{% block body %}
{#    <script class="left-1/2">#}
{#        document.addEventListener('DOMContentLoaded', function () {#}
{#            let form = document.getElementById('form');#}
{#            let img = document.querySelector('img');#}
{#            form.classList.add(`left-1/2`)#}
{##}
{#        });#}
{#    </script>#}
    <main class="p-8 lg:p-0 lg:grid lg:grid-cols-2 justify-items-center">
        <div class="mt-2 mb-4 lg:mb-0 grid justify-center self-center lg:pl-14 2xl:pl-16 3xl:pl-20 lg:ml-1">
            <h1 class="text-4xl md:text-5xl lg:text-6xl 3xl:text-7xl font-gmt-fira font-bold bg-clip-text text-transparent bg-gradient-to-r from-red-500 to-red-600 ">
                Get in Touch!
            </h1>

            <h3 class="text-lg lg:text-xl xl:text-2xl 3xl:text-4xl font-gmt-fira font-medium text-black ">
                Have any queries? Fill out this small form & we’ll get back to you as soon as we can!
            </h3>

            <span class="text-xl lg:text-3xl font-gmt-fira font-medium my-4 whitespace-nowrap">
                <i class="fa-solid fa-at text-red-600"></i>
                <a class="" href="mailto:support@goodmorningtech.news">support@goodmorningtech.news</a>
            </span>

            <div class="text-lg lg:text-3xl font-medium text-black ">
                <p class="font-gmt-fira">Get in touch through:</p>
                <div class=" lg:text-3xl inline">
                    <a href="https://twitter.com/goodmorningtech" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </div>
                <a href="https://discord.goodmorningtech.news" target="_blank">
                    <i class="fa-brands fa-discord"></i>
                </a>
            </div>
        </div>
        <hr class="lg:hidden border-solid border-black border-2">
        <div class="lg:self-center lg:grid lg:grid-cols-2 mt-4 lg:mt-0">
            <form action="" class="lg:bg-white w-full rounded-2xl lg:p-4 lg:p-8 3xl:p-12 h-fit self-center z-20 lg:relative lg:left-1/2" id="form">
                <div class=" text-2xl ">
                    <label for="name" class="font-bold">Your Name:</label>
                    <br>
                    <input type="text"
                           name="name"
                           id="name"
                           placeholder="John Doe"
                           required
                           class="w-full text-lg mt-1 mb-3 px-4 py-1 rounded-lg border-2 border-black focus:outline-none focus:border-blue-500 shadow-sm font-gmt-open-sans font-medium bg-gmt-background lg:bg-white">
                </div>
                <div class=" text-2xl ">
                    <label for="email" class=" font-bold ">Your Primary Email:</label>
                    <br>
                    <input type="email"
                           name="email"
                           id="email"
                           placeholder="johndoe@example.com"
                           required
                           class="w-full text-lg mt-1 mb-3 px-4 py-1 rounded-lg border-2 border-black focus:outline-none focus:border-blue-500 shadow-sm font-gmt-open-sans font-medium bg-gmt-background lg:bg-white">
                </div>
                <div class=" text-2xl ">
                    <label for="message" class=" font-bold ">Message:</label>
                    <br>
                    <input type="text"
                           name="messageSubject"
                           id="messageSubject"
                           placeholder="Message Subject"
                           class="w-full text-lg mt-1 mb-2 px-4 py-1 rounded-lg border-2 border-black focus:outline-none focus:border-blue-500 shadow-sm font-gmt-open-sans font-medium bg-gmt-background lg:bg-white">
                    <br>
                    <textarea class="w-full text-lg mt-1 mb-3 h-40 px-4 py-1 rounded-lg border-2 border-black focus:outline-none focus:border-blue-500 shadow-sm font-gmt-open-sans font-medium bg-gmt-background lg:bg-white"
                              name="message"
                              id="message"
                              placeholder="Message Content"
                              style="resize: none;"
                              required></textarea>
                </div>
                <div>
                    <button type="submit"
                            class=" text-white font-medium font-gmt-fira text-2xl bg-[#FF5763] px-2 py-1 rounded-lg shadow-lg hover:bg-[#d44650] hover:shadow-none transition-colors duration-200 ease-in-out ">
                        Send Message
                    </button>
                </div>
            </form>
            <img src="https://cdn.goodmorningtech.news/website/contact/backgroundImageContactPage.png"
                 alt=""
                 class=" hidden lg:block h-screen">
        </div>
    </main>
{% endblock %}
