{% extends "layout.html" %}
{% block title %} Credits and Tech{% endblock %}
{% block body %}
    <div class="p-8">
        <h1 class="font-bold md:text-4xl text-2xl my-4">How it's made: Good Morning Tech</h1>
        <h5 class=" font-gmt-fira mb-2 text-2xl md:text-3xl sm:pl-2 md:pl-3 lg:pl-4 font-bold text-black sm:border-l-2 md:border-l-4 lg:border-l-8 border-gmt-red-primary ">
        Designed with:
        </h5>
        <p>Figma, Adobe Photoshop and Dribbble</p>
        <h5 class=" font-gmt-fira mb-2 text-2xl md:text-3xl sm:pl-2 md:pl-3 lg:pl-4 font-bold text-black sm:border-l-2 md:border-l-4 lg:border-l-8 border-gmt-red-primary ">
        Built with:
        </h5>
        <p>Python for the backend. HTML5, CSS3 and Javascript for the frontend</p>
        <h5 class=" font-gmt-fira mb-2 text-2xl md:text-3xl sm:pl-2 md:pl-3 lg:pl-4 font-bold text-black sm:border-l-2 md:border-l-4 lg:border-l-8 border-gmt-red-primary ">
        Tech Stack:
        </h5>
        <p>For the backend we used Flask together with MongoDB for the Database. For the frontend we used Jinja Templates and Tailwind. For the website hosting we used Vercel and for the emails and Images we used Cybrancee</p>

        <h5 class=" font-gmt-fira mb-2 text-2xl md:text-3xl sm:pl-2 md:pl-3 lg:pl-4 font-bold text-black sm:border-l-2 md:border-l-4 lg:border-l-8 border-gmt-red-primary ">
        Developed by:
        </h5>
        <p>Good Morning Tech is developed by:<br>
            <a href="https://github.com/ImmaHarry/">@HarryDaDev(Design and Frontend)</a><br>
            <a href="https://github.com/OpenSourceSimon/">@OpenSourceSimon(Backend)</a><br>
            <a href="https://github.com/LevaniVashadze/">@LevaniVashadze(Backend and Frontend)</a><br>
            <a href="https://github.com/Kappq/">@Kappa(Backend)</a>
        </p>
    </div>
{% endblock %}
