{% extends "layout.html" %}
{% block title %} Credits and Tech{% endblock %}
{% block body %}
<div class="md:p-8 p-3 dark:text-white">
    <h1 class="font-bold md:text-4xl text-2xl my-4">How it's made: Good Morning Tech</h1>
    <h5 class="font-gmt-fira mb-2 text-2xl md:text-3xl pl-2 md:pl-3 lg:pl-4 font-bold dark:text-white text-black border-l-4 lg:border-l-8 border-gmt-red-primary">
        Designed with
    </h5>
    <p class="font-semibold text-lg mb-4">Figma, Adobe Photoshop and Dribbble</p>
    <h5 class="font-gmt-fira mb-2 text-2xl md:text-3xl pl-2 md:pl-3 lg:pl-4 font-bold dark:text-white text-black border-l-4 lg:border-l-8 border-gmt-red-primary">
        Built with
    </h5>
    <p class="font-semibold text-lg mb-4">Python for the backend. HTML5, CSS3 and Javascript for the frontend</p>
    <h5 class="font-gmt-fira mb-2 text-2xl md:text-3xl pl-2 md:pl-3 lg:pl-4 font-bold dark:text-white text-black border-l-4 lg:border-l-8 border-gmt-red-primary">
        Tech Stack
    </h5>
    <p class="font-semibold text-lg mb-4">For the backend we used Flask together with MongoDB for the Database. For the
        frontend we used Jinja Templates and Tailwind. For the website hosting we used Vercel and for the emails and
        Images we used Cybrancee.<br>
        For a more detailed technical breakdown, check out Levani's <a
                class="text-gmt-red-primary font-bold">article</a> about it. (not yet written)</p>

    <h5 class="font-gmt-fira mb-2 text-2xl md:text-3xl pl-2 md:pl-3 lg:pl-4 font-bold dark:text-white text-black border-l-4 lg:border-l-8 border-gmt-red-primary">
        Developed by
    </h5>
    <p class="font-semibold text-lg mb-4">Good Morning Tech is developed by:<br>
        <a href="https://github.com/ImmaHarry/"><span class="text-gmt-red-primary font-bold">@HarryDaDev</span>(Design
            and Frontend)</a><br>
        <a href="https://github.com/OpenSourceSimon/"><span
                class="text-gmt-red-primary font-bold">@OpenSourceSimon</span>(Backend)</a><br>
        <a href="https://github.com/LevaniVashadze/"><span class="text-gmt-red-primary font-bold">@LevaniVashadze</span>(Backend
            and Frontend)</a><br>
        <a href="https://github.com/Kappq/"><span class="text-gmt-red-primary font-bold">@Kappa</span>(Backend)</a><br>

        More Contributors are on the GitHub page, and we are always looking for more contributors.
    </p>
    <h5 class="font-gmt-fira mb-2 text-2xl md:text-3xl pl-2 md:pl-3 lg:pl-4 font-bold dark:text-white text-black border-l-4 lg:border-l-8 border-gmt-red-primary">
        Additionally
    </h5>
    <p class="font-semibold text-lg mb-4">Special thanks to <span class="font-bold">Lewis Menelaws</span>(<a
            href="https://www.youtube.com/c/codingwithlewis">Coding with Lewis<sup><i
            class="fas fa-up-right-from-square text-xs"></i></sup></a>) for having faith in the project and giving us
        the goodmorningtech.news domain.</p>
    <h5 class="font-gmt-fira mb-2 text-2xl md:text-3xl pl-2 md:pl-3 lg:pl-4 font-bold dark:text-white text-black border-l-4 lg:border-l-8 border-gmt-red-primary">
        Disclaimer news content
    </h5>
    <p class="font-semibold text-lg mb-4"> We would like to take a moment to clarify that not all of the news content on
        our website is our original work. As a news aggregator, we strive to provide our readers with the latest and
        most accurate news from various reliable sources.
        While we do publish some original content, a significant portion of the news articles you will find on our
        website are sourced from other news outlets. We carefully select and curate the news stories that we believe are
        most relevant and informative to our readers, and we always provide proper attribution to the original sources.
        We encourage our readers to visit the original sources of the news articles we publish to gain a more
        comprehensive understanding of the topics covered. We also welcome any feedback or suggestions on how we can
        improve our news coverage and better serve our readers.
        Thank you for your continued support and trust in our website as a source of news and information.
    </p>
</div>
{% endblock %}
