{% extends "layout.html" %}
{% block title %}Morning{% endblock %}
{% block body %}
    <script>
        // makes the landing section take up the full height of the screen minus the navbar
        const adjustSizes = () => {
            const navbarHeight = getComputedStyle(document.getElementById("header")).height;
            document.getElementById("landing").style.minHeight = `calc(100vh - ${navbarHeight})`;
        }
        document.addEventListener('DOMContentLoaded', () => {
            adjustSizes()
        });

        const resizeObserver = new ResizeObserver(elements => {
            adjustSizes()
        });

        resizeObserver.observe(document.getElementById("header"));
    </script>
{% endblock %}