{% extends "layout.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block body %}
    <div class="mx-auto md:p-10 py-10">
        <h1 class="text-5xl font-bold mb-6 text-center font-gmt-fira">Privacy Policy</h1>

        <hr class="border-solid border-black border-2 my-2">

        <p class="mb-6">We take your privacy seriously. Please read this Privacy Policy to learn more about how we collect, use and protect your personal information.</p>

        <h2 class="text-lg font-bold mb-3">1. Information Collection and Use</h2>

        <p class="mb-3">We may collect the following types of personal information:</p>

        <ul class="list-disc ml-6 mb-6">
            <li>Contact information such as name and email address</li>
            <li>User provided Information. (Social media accounts for example)</li>
        </ul>

        <p class="mb-3">We use this information to send you news.</p>

        <p class="mb-3">We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so.</p>

        <h2 class="text-lg font-bold mb-3">2. Security</h2>

        <p class="mb-3">We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>

        <h2 class="text-lg font-bold mb-3">3. Cookies</h2>

        <p class="mb-3">We use cookies to keep the website running, like saving your log in. A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. You can control cookies through your browser settings.</p>

        <h2 class="text-lg font-bold mb-3">4. Links to Other Websites</h2>

        <p class="mb-3">Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide while visiting such sites and such sites are not governed by this Privacy Policy.</p>

        <h2 class="text-lg font-bold mb-3">5. Changes to This Privacy Policy</h2>

        <p class="mb-6">We reserve the right to update or change this Privacy Policy at any time. If we make material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</p>

        <p>If you have any questions or concerns about this Privacy Policy, please contact us at support@goodmorningtech.news.</p>
    </div>
{% endblock %}