{% extends "layout.html" %}
{% block title %}Terms of Service{% endblock %}
{% block body %}
    <div class="mx-auto md:p-10 py-10">
        <h1 class="text-5xl font-bold mb-6 text-center font-gmt-fira">Terms of Service</h1>

        <hr class="border-solid border-black border-2 my-2">

        <p class="mb-6">By using our website, you agree to comply with and be bound by the following terms and conditions of use:</p>

        <h2 class="text-lg font-bold mb-3">1. Introduction</h2>

        <p class="mb-3">These Terms and Conditions ("Agreement") are between you ("User" or "you") and our company ("Company", "we", or "us"). This Agreement sets forth the general terms and conditions of your use of the website and any of its products or services.</p>

        <h2 class="text-lg font-bold mb-3">2. Prohibited Uses</h2>

        <ul class="list-disc ml-6 mb-6">
          <li>Illegal activities</li>
          <li>Posting content that violates intellectual property rights</li>
          <li>Spamming other users</li>
          <li>Distributing malware or other harmful software</li>
        </ul>

        <h2 class="text-lg font-bold mb-3">3. Disclaimer of Warranties</h2>

        <p class="mb-3">The website and its products are provided “as is” without warranty of any kind, either express or implied, including without limitation warranties of merchantability, fitness for a particular purpose, or non-infringement.</p>

        <h2 class="text-lg font-bold mb-3">4. Limitation of Liability</h2>

        <p class="mb-3">In no event shall we or our suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on our website, even if we or an authorized representative has been notified orally or in writing of the possibility of such damage.</p>

        <h2 class="text-lg font-bold mb-3">5. Indemnification</h2>

        <p class="mb-3">You agree to indemnify and hold us harmless from any liability, loss, claim, and expense (including reasonable attorney's fees) related to your violation of this Agreement or use of the website and any of its products or services.</p>

        <h2 class="text-lg font-bold mb-3">6. Governing Law</h2>

        <p class="mb-3">This Agreement shall be governed by and construed in accordance with the laws of the State of California, United States, without giving effect to any principles of conflicts of law.</p>

        <h2 class="text-lg font-bold mb-3">7. Changes to These Terms and Conditions</h2>

        <p class="mb-6">We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions at any time. If a revision is material, we will provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

        <p>If you have any questions about these Terms of Service, please contact us at support@goodmorningtech.news.</p>
  </div>
{% endblock %}