body {
    padding: 0;
    margin: 0;
    background-color: #F2F0F1;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    text-align: left;
    font-size: 2rem;
}

.form-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.email {
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: transparent;
    border: solid black 4px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 40vw;
}

.submit-btn {
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: #F2F0F1;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    border: solid black 4px;
}

h3 {
    text-align: left;
    font-size: 1.25rem;
}

a {
    text-decoration: underline;
    color: #C04040;
}
