{% extends "layout.html" %}
{% block title %}Terms of Service{% endblock %}
{% block body %}
    <div class="mx-auto md:p-10 py-10">
        <h1 class="text-5xl font-bold mb-6 text-center font-gmt-fira">Writer Guidelines</h1>

        <hr class="border-solid border-black border-2 my-2">

        <p class="mb-6">These guidelines outline the expectations for writers creating content on behalf of Good Morning Tech for use in our newsletters. These guidelines apply to any writer who creates content on behalf of the Company, including employees and independent contractors.</p>

        <h2 class="text-lg font-bold mb-3">Original content</h2>

        <p class="mb-3">Good Morning Tech values original research and insights. All writers must strive to deliver unique information, whether through exclusive data or interviews with industry experts. Plagiarism is strictly prohibited. </p>

        <h2 class="text-lg font-bold mb-3">Tone</h2>

        <p class="mb-3">Our newsletters are personal in nature. Therefore, writers should maintain a conversational tone that is engaging and easy to read. Technical language and jargon should be avoided whenever possible. All content should be written in a manner that is sensitive to our readers. </p>

        <h2 class="text-lg font-bold mb-3">Supporting Evidence</h2>

        <p class="mb-3">While Good Morning Tech values unique insights, it is also critical to provide supporting evidence for such insights. This includes links to relevant studies, reports or news articles. Writers should always respect copyright laws and fair use guidelines when referencing other sources.</p>

        <h2 class="text-lg font-bold mb-3">Objectivity and Bias</h2>

        <p class="mb-3">Our readers trust us to provide accurate and balanced information. Therefore, writers must remain objective and unbiased in their writing. If an article has a strong point of view, it must be clearly labeled as an opinion piece. The Company reserves the right to reject content which breaches its standards of impartiality.</p>

        <h2 class="text-lg font-bold mb-3">Attribution</h2>

        <p class="mb-3">If a writer references another source in their work, it is essential that they provide clear attribution. This includes proper citation and providing a link to the original article wherever possible. The Company retains the right to verify all references made in any submitted content.</p>

        <h2 class="text-lg font-bold mb-3">Proofreading and Fact-Checking</h2>

        <p class="mb-3">Accuracy is paramount when it comes to writing for our newsletters. Therefore, all writers must thoroughly proofread their work and fact-check any information before submitting it. The Company reserves the right to verify all facts presented in any submitted content.</p>

        <h2 class="text-lg font-bold mb-3">Feedback</h2>

        <p class="mb-6">Writers must be open to receiving feedback from editors and other team members. This will help to ensure that the final product is the best it can be. All critique and feedback will be delivered in a respectful and constructive manner.</p>

        <h2 class="text-lg font-bold mb-3">Conclusion</h2>

        <p class="mb-6">Good Morning Tech values originality, accuracy, objectivity, and professionalism in all content created for our newsletters. By adhering to these guidelines, writers will be contributing towards maintaining standards and quality of our newsletters.</p>

        <h2 class="text-lg font-bold mb-3">Acceptance</h2>

        <p class="mb-6">All writers must accept these guidelines before creating their first article. By submitting content or accepting payment, writers acknowledge their acceptance of these guidelines.</p>
    </div>
{% endblock %}