{% extends "layout.html" %}
{% block title %}Portal{% endblock %}
{% block body %}
    <h1>Writer Portal</h1>
    <p>Here you can write your own articles.</p>
    <a href="{{ url_for("writers.writer", user_name=writer.user_name) }}">View your profile</a>
    <p>
        Click <a href="{{ url_for('writers.create') }}">here</a> to write a new article.
    </p>
    <h2>Articles</h2>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{{ url_for('articles.article', article_id=article._id) }}">{{ article.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
