{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block body %}
    <div class="p-8"><h1 class="font-semibold text-3xl">Register</h1>
        {% if status %}
            <div class="p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-gray-800 dark:text-blue-400"
                 role="alert">
                <p>{{ status }}</p>
            </div>
        {% endif %}
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label>
                Your Email:
                <input name="email" type="email" class="my-2 border-gmt-black-primary border-solid border-2">
            </label>
            <br>
            <label>
                Your Password:
                <input name="password" type="password" class="my-2 border-gmt-black-primary border-solid border-2">
            </label>
            <br>
            <label>
                Confirm Password:
                <input name="password_confirm" type="password"
                       class="my-2 border-gmt-black-primary border-solid border-2">
            </label>
            <br>
            <input type="submit"
                   class="text-white bg-gray-800 hover:bg-gray-900 font-medium text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-700">
        </form>
        <p>
            If you haven't applied: <a class="text-blue-600" href="{{ url_for('writers.apply') }}">Apply Here</a>
        </p>
        <p>
            If you registered already: <a class="text-blue-600" href="{{ url_for('writers.login') }}">Login Here</a>
        </p></div>
{% endblock %}
