{% extends "layout.html" %}
{% block title %}Upload{% endblock %}
{% block body %}
    <h1>Upload</h1>
    <p>Upload a beautiful new profile picture</p>
    {% if status %}
        <div class="p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-gray-800 dark:text-blue-400"
             role="alert">
            <p>{{ status }}</p>
        </div>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
    </form>
{% endblock %}