{% extends "layout.html" %}
{% block title %}{{ writer.name }}{% endblock %}
{% block body %}
    <main class="
        h-screen
        font-gmt-open-sans
    ">
        <div>
            <img id="profile-img-cover" class="
                w-full h-24 md:h-48 sm:mt-4 md:mt-6
                object-cover object-center
            "  src="
            https://images.unsplash.com/photo-1482784160316-6eb046863ece?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80
            ">
            <img id="profile-img" class="
                w-28 h-28 md:w-48 md:h-48
                rounded-full
                z-50 -mt-16 ml-8 md:-mt-28 md:ml-16
            " src="https://avatars.githubusercontent.com/u/62475932?v=4">
        </div>
        <div class="
            grid grid-cols-1 md:grid-cols-4
            divide-y-2 md:divide-y-0 md:divide-x-2 divide-black 
        ">
            <div class="
                mt-2 md:mt-4 ml-8 md:ml-16
            ">
            <div>
                <h1 class="
                text-3xl md:text-4xl
                font-bold flex justify-start items-start
            ">
                <div class="
                    font-gmt-fira
                ">
                    HarryDaDev
                </div>
                <div class="
                    ml-2 mt-2 md:mt-1
                    text-xl md:text-4xl
                    flex justify-start items-start
                    text-[#62A539]
                ">
                <!-- CREATE TOOLTIPS FOR THE ICONS! -->
                    <i class="fas fa-pen-nib hover:text-[#35611a] duration-200 transition-colors cursor-pointer"></i>
                    <i class="fas fa-code hover:text-[#35611a] duration-200 transition-colors cursor-pointer"></i>
                </div>
            </h1>
            <h3 class="
                text-xl md:text-2xl
                font-bold">@harry</h3>
            </div>
            <div class="
                my-6
            ">
                <h5 class="
                    text-lg md:text-xl font-bold
                "><i class="fas fa-pen-clip"></i>About Me: </h5>
                <p class="
                    font-semibold
                    w-full
                ">
                    I am a tech enthusiast since 2004 looking to touch a lot of grass! I would like to share the latest news in tech with everyone using this platform.
                </p>
            </div>
            <div class="
                text-lg md:text-xl font-semibold
            ">
                <div class="
                    flex justify-start items-center
                ">
                    <i class="fas fa-globe text-2xl pr-1 text-zinc-700"></i>
                    <span>Local Time: <span id="localTime">17:13 Hours (UTC +5:30)</span></span>
                </div>
                <div class="
                    flex justify-start items-center
                ">
                    <div class="
                        flex justify-start items-center
                        pr-4
                    ">
                        <i class="
                            fab fa-twitter text-3xl text-zinc-700
                        "></i>
                        <a href="#" target="_blank">@harrydadev</a>
                    </div>
                    <div class="
                        flex justify-start items-center
                    ">
                        <i class="
                            fab fa-github text-3xl text-zinc-700
                        "></i>
                        <a href="#" target="_blank">@immaharry</a>
                    </div>
                </div>
                <div class="
                    flex justify-start items-center
                ">
                    <i class="fas fa-envelope text-2xl pr-1 text-zinc-700"></i>
                    <a href="#" target="_blank">
                        harrydadev@gmail.com
                    </a>
                </div>
                <div class="
                    flex justify-start items-center
                ">
                    Support me on:
                    <div class="
                        inline-flex items-center
                        ml-2
                    ">
                        <a href=""><i class="fab fa-patreon text-3xl text-zinc-700 hover:text-zinc-800 cursor-pointer duration-200 transition-colors"></i></a>
                        <a href=""><i class="fab fa-paypal text-3xl text-zinc-700 hover:text-zinc-800 cursor-pointer duration-200 transition-colors"></i></a>
                    </div>
                </div>
            </div>
            <div class="
                mt-4 md:mt-6 
                text-lg md:text-xl font-semibold
            ">
                <p>Profile Views: <span>23.4k</span></p>
                <p>Member Since: <span>23-03-2023</span></p>
            </div>
            </div>
            <div class="mt-4 md:mt-6 ml-8 md:ml-16 md:col-span-3
            px-4 md:px-24
            ">
                <h2 class="
                    text-2xl md:text-3xl
                    font-bold
                    pb-4 font-gmt-fira
                ">Latest Articles by <span>HarryDaDev</span>:</h2>
                <div class="grid grid-cols-1 grid-rows-2 md:grid-cols-2 md:grid-rows-1 gap-4 md:gap-8">
                    <div class="
                        bg-gmt-black-primary
                        rounded-t-lg mb-4 shadow-xl
                        w-96 h-full md:w-full md:h-96
                    ">
                        <img class="
                            object-center object-cover w-full h-48 rounded-t-lg
                        " src="https://ichef.bbci.co.uk/news/1024/branded_news/15103/production/_128557268_whatsubject.jpg" alt="">
                        <h3 class="font-bold text-white text-base lg:text-xl px-2 md:px-4 md:py-1 lg:py-2">Microsoft unveils new Bing with ChatGPT powers</h3>
                        <p class="font-semibold text-white text-base px-2 md:px-4 overflow-ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                        <div class="
                            flex justify-end items-center
                            px-2 md:px-4 py-2
                        ">
                            <a href="#" class="text-white font-semibold text-base">Read More</a>
                            <i class="fas fa-arrow-right text-white text-xl ml-2"></i>
                        </div>
                    </div>

                <div class="
                    bg-gmt-black-primary
                    rounded-t-lg mb-4 shadow-xl
                    w-96 h-full md:w-full md:h-96
                ">
                    <img class="
                        object-center object-cover w-full h-48 rounded-t-lg
                    " src="https://cdn.cnn.com/cnnnext/dam/assets/161115155933-oscar-watch-mbf-legacy-machine-perpetual-super-tease.jpg" alt="">
                    <h3 class="font-bold text-white text-lg md:text-xl px-2 md:px-4 py-2">Revealed: Winners of the 'Oscars of watches'</h3>
                    <p class="font-semibold text-white text-base px-2 md:px-4 py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                    <div class="
                        flex justify-end items-center
                        px-2 md:px-4 py-2
                    ">
                        <a href="#" class="text-white font-semibold text-base">Read More</a>
                        <i class="fas fa-arrow-right text-white text-xl ml-2"></i>
                    </div>
                </div>  

                <p class="
                    text-base md:text-xl
                    font-semibold
                    mt-4 md:mt-6
                ">
                    Read more articles by <span>HarryDaDev</span> on <a href="#" class="text-blue-600" target="_blank">this page</a>.
                </p>
                </div>
            </div>
        </div>
        <script>
            const profilecover = document.querySelector('#profile-img-cover');
            const profileimg = document.querySelector('#profile-img');

            profilecover.addEventListener('mouseover', () => {
                profileimg.style.opacity = '0.25';
                profileimg.style.transition = '300ms cubic-bezier(0.4, 0, 0.2, 1)';
            });
            profilecover.addEventListener('mouseout', () => {
                profileimg.style.opacity = '1';
            });
        </script>
    </main>
{% endblock %}
