{% extends "layout.html" %}
{% block title %}{{ writer.name }}{% endblock %}
{% block body %}
    <script>
    const timezone = "{{ writer.timezone if writer.timezone else '' }}";
    const created_at = "{{ writer.created_at }}";
    if (created_at) {
        document.addEventListener('DOMContentLoaded', () => {
            let memberSince = document.getElementById("memberSince");
            const d = new Date(created_at);
            memberSince.innerHTML = d.toLocaleDateString()
        })
    }

    if (timezone) {
    document.addEventListener("DOMContentLoaded", () => {
        const localTime = document.getElementById("localTime");
        const date = new Date();
        // dont display seconds
        const options = { timeZone: timezone, hour: '2-digit', minute:'2-digit'};
        localTime.innerHTML = date.toLocaleTimeString('de', options);

    })
    // Refresh every minute
    setInterval(() => {
        const localTime = document.getElementById("localTime");
        const date = new Date();
        // dont display seconds
        const options = { timeZone: timezone, hour: '2-digit', minute:'2-digit'};
        localTime.innerHTML = date.toLocaleTimeString('de', options);
    }, 2000)
    }
    </script>
    <main class="font-gmt-open-sans !md:min-h-screen">
        {# Banner and profile pic #}
        <div>
            <img id="profile-img-cover"
                 class=" w-full h-24 md:h-48 sm:mt-4 md:mt-6 object-cover object-center "
                 src=" https://images.unsplash.com/photo-1482784160316-6eb046863ece?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 ">
            <img id="profile-img"
                 class=" w-28 h-28 md:w-48 md:h-48 rounded-full z-50 -mt-16 ml-8 md:-mt-28 md:ml-16 "
                 src="https://profile.goodmorningtech.news/{{ writer.user_name }}.jpg">
        </div>
        {# Profile info and Articles (gridded) #}
        <div class=" grid grid-cols-1 md:grid-cols-4 divide-y-2 md:divide-y-0 md:divide-x-2 divide-black p-4 ">
            <div class=" mt-2 md:mt-4 md:ml-16 ">
                <div>
                    <div class=" text-3xl md:text-4xl font-bold flex justify-start items-start ">
                        <div class=" font-gmt-fira ">{{ writer.name }}</div>
                        <div class=" ml-2 mt-2 md:mt-1 text-xl md:text-4xl flex justify-start items-start text-[#62A539] ">
                            <!-- CREATE TOOLTIPS FOR THE ICONS! -->
                            {% if "writer" in writer.badges %}
                                <i data-tooltip-target="writer-tooltip" class="fas fa-pen-nib hover:text-[#35611a] duration-200 transition-colors cursor-pointer"></i>
                                <div id="writer-tooltip" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-gmt-open-sans font-semibold text-white transition-opacity duration-300 bg-gmt-black-primary rounded-lg shadow-sm opacity-0 tooltip">
                                    <i class="fa-solid fa-user-check mr-2"></i>Verified Writer at Good Morning Tech
                                    <div class="tooltip-arrow" data-popper-arrow></div>
                                </div>
                            {% endif %}
                            {% if "dev" in writer.badges %}
                                <i data-tooltip-target="dev-tooltip" class="fas fa-code hover:text-[#35611a] duration-200 transition-colors cursor-pointer"></i>
                                <div id="dev-tooltip" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-gmt-open-sans font-semibold text-white transition-opacity duration-300 bg-gmt-black-primary rounded-lg shadow-sm opacity-0 tooltip">
                                    <i class="fa-solid fa-user-check mr-2"></i>Verified Developer at Good Morning Tech
                                    <div class="tooltip-arrow" data-popper-arrow></div>
                                </div>
                            {% endif %}
                            {% if "tester" in writer.badges %}
                                <i data-tooltip-target="tester-tooltip" class="fa-solid fa-handshake hover:text-[#35611a] ml-2 duration-200 transition-colors cursor-pointer"></i>
                                <div id="tester-tooltip" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-gmt-open-sans font-semibold text-white transition-opacity duration-300 bg-gmt-black-primary rounded-lg shadow-sm opacity-0 tooltip">
                                    <i class="fa-solid fa-user-check mr-2"></i>Early Product Tester at Good Morning Tech
                                    <div class="tooltip-arrow" data-popper-arrow></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <h3 class=" text-xl md:text-2xl font-bold">@{{ writer.user_name }}</h3>
                </div>
                <div class=" my-6 ">
                    <h5 class=" text-lg md:text-xl font-bold ">
                        <i class="fas fa-pen-clip"></i>About Me:
                    </h5>
                    <p class=" font-semibold w-full ">{{ writer.about if writer.about else "-" }}</p>
                </div>
                <div class=" text-lg md:text-xl font-semibold ">
                    {% if writer.timezone %}
                        <div class="block md:flex justify-start items-center">
                            <i class="fas fa-globe text-2xl pr-1 text-zinc-700"></i>
                            <span>Local Time: <span id="localTime"></span></span>
                        </div>
                    {% endif %}
                    <div class="block md:flex justify-start items-center">
                        {% if writer.twitter %}
                            <div class="block md:flex justify-start items-center pr-4 ">
                                <i class=" fab fa-twitter text-3xl text-zinc-700 "></i>
                                <a href="{{ writer.twitter }}" target="_blank">{{ writer.twitter.split("twitter.com/")[1].replace("/", "") }}</a>
                            </div>
                        {% endif %}
                        {% if writer.github %}
                            <div class="block md:flex justify-start items-center">
                                <i class=" fab fa-github text-3xl text-zinc-700 "></i>
                                <a href="{{ writer.github }}" target="_blank">{{ writer.github.split("github.com/")[1].replace("/", "") }}</a>
                            </div>
                        {% endif %}
                    </div>
                    {% if writer.public_email %}
                        <div class="block md:flex justify-start items-center">
                            <i class="fas fa-envelope text-2xl pr-1 text-zinc-700"></i>
                            <a href="mailto:{{ writer.public_email }}" target="_blank">{{ writer.public_email }}</a>
                        </div>
                    {% endif %}
                    {% if writer.paypal or writer.patreon %}
                        <div class="block md:flex justify-start items-center">
                            Support me on:
                            <div class=" inline-flex items-center ml-2 ">
                                {% if writer.patreon %}
                                    <a href="{{ writer.patreon }}"><i class="fab fa-patreon text-3xl text-zinc-700 hover:text-zinc-800 cursor-pointer duration-200 transition-colors"></i></a>
                                {% endif %}
                                {% if writer.paypal %}
                                    <a href="{{ writer.paypal }}"><i class="fab fa-paypal text-3xl text-zinc-700 hover:text-zinc-800 cursor-pointer duration-200 transition-colors"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class=" mt-4 md:mt-6 text-lg md:text-xl font-semibold ">
                    <p>
                        Profile Views: <span>{{ writer.views }}</span>
                    </p>
                    <p>
                        Member Since: <span id="memberSince"></span>
                    </p>
                </div>
            </div>
            {# Articles #}
            <div class="mt-4 md:mt-6 md:ml-16 md:col-span-3 md:px-24 ">
                <h2 class=" text-2xl md:text-3xl font-bold pb-4 font-gmt-fira pt-2 ">
                    Latest Articles by <span>{{ writer.name }}</span>:
                </h2>
                <div class="grid grid-cols-1 grid-rows-2 md:grid-cols-2 md:grid-rows-1 gap-4 md:gap-8">
                    {% if articles|length >= 1 %}
                        <div class=" bg-gmt-black-primary rounded-t-lg mb-4 shadow-xl h-full md:w-full md:h-96 ">
                            <img class=" object-center object-cover w-full h-48 rounded-t-lg "
                                 src="{{ articles[0].thumbnail }}"
                                 alt="">
                            <h3 class="font-bold text-white text-lg md:text-xl px-2 md:px-4 py-2">{{ articles[0].title }}</h3>
                            <p class="font-semibold text-white text-base px-4 py-2 overflow-hidden">{{ articles[0].description }}</p>
                            <div class=" flex justify-end items-center px-2 md:px-4 py-2 ">
                                <a href="{{ articles[0].url }}" class="text-white font-semibold text-base">Read More</a>
                                <i class="fas fa-arrow-right text-white text-xl ml-2"></i>
                            </div>
                        </div>
                    {% endif %}
                    {% if articles|length >= 2 %}
                        <div class=" bg-gmt-black-primary rounded-t-lg mb-4 shadow-xl h-full md:w-full md:h-96 ">
                            <img class=" object-center object-cover w-full h-48 rounded-t-lg "
                                 src="{{ articles[1].thumbnail }}"
                                 alt="">
                            <h3 class="font-bold text-white text-lg md:text-xl px-2 md:px-4 py-2">{{ articles[1].title }}</h3>
                            <p class="font-semibold text-white text-base px-4 py-2 overflow-hidden">{{ articles[1].description }}</p>
                            <div class=" flex justify-end items-center px-2 md:px-4 py-2 ">
                                <a href="{{ articles[1].thumbnail }}" class="text-white font-semibold text-base">Read More</a>
                                <i class="fas fa-arrow-right text-white text-xl ml-2"></i>
                            </div>
                        </div>
{#                        <p class=" text-base md:text-xl font-semibold mt-4 md:mt-6 ">#}
{#                            Read more articles by <span>{{ writer.name }}</span> on <a href="#" class="text-blue-600" target="_blank">this page</a>.#}
{#                        </p>#}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
