<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='tailwind.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='landing-page/typewriter.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
              rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
              integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"/>
        <title>404 | This page does not exist</title>
    </head>
    <body class="bg-gmt-[#F6F4F0]">
        <main>
            <!--No navbar on this page please.-->
            <div class=" flex flex-row items-center justify-center h-screen w-screen ">
                <div class="md:px-2 lg:px-6 py-16 border-r-2 border-r-black hidden md:block">
                    <img class=""
                         src="https://cdn.goodmorningtech.news/website/404/404 img.png"
                         alt="404 illustration">
                </div>
                <div class="px-2 text-center sm:w-1/2 lg:w-1/4">
                    <h1 class="font-gmt-anonymous-pro text-9xl sm:text-8xl lg:text-9xl font-bold">404</h1>
                    <h2 class="font-gmt-karla text-gmt-gray-primary text-4xl font-semibold">
                        Hmm... You are not meant to be here, go back <span class="underline text-gmt-red-primary hover:cursor-pointer"><a href="/">home</a></span> traveler!
                    </h2>
                </div>
            </div>
        </main>
    </body>
</html>
