<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block head %}<!-- Any extra header stuff here -->{% endblock %}
        <!--Default Meta Deta:-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords"
              content="Opensource, newsletter, technology, free, email, mail, goodmorningtech, gmt, reliable, summary, customize, personalise">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="author" content="Good Morning Tech">
        <meta name="theme-color" content="#C04040">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Good Morning Tech">
        {% if no_meta %}
        {% else %}
            <meta name="description"
                  content="Good Morning Tech is a free, reliable, and customizable newsletter that helps you stay ahead in tech.">
            <meta name="twitter:site" content="@goodmorningtech">
            <meta name="twitter:creator" content="@goodmorningtech">
            <meta name="twitter:title" content="Good Morning Tech">
            <meta name="twitter:description"
                  content="Good Morning Tech is a free, reliable, and customizable newsletter that helps you stay ahead in tech.">
            <!-- <meta name="twitter:image"
       content="https://cdn.goodmorningtech.news/README/mockup.png"> -->
            <meta name="twitter:image"
                  content="https://github.com/GoodMorninTech/cdn/blob/main/website/embed/Updated%20Embed%20Image%202023.png?raw=true">
            <meta property="og:title" content="Good Morning Tech">
            <meta property="og:url" content="https://goodmorningtech.news">
            <!-- <meta property="og:image"
       content="https://cdn.goodmorningtech.news/README/mockup.png"> -->
            <meta property="og:image"
                  content="https://github.com/GoodMorninTech/cdn/blob/main/website/embed/Updated%20Embed%20Image%202023.png?raw=true">
            <meta property="og:description"
                  content="Good Morning Tech is a free, reliable, and customizable newsletter that helps you stay ahead in tech.">
        {% endif %}
        <meta property="og:locale" content="en_US">
        <!--Title Link-->
        <title>
            {% block title %}{% endblock %}
        </title>
        <!--CSS & JS-->
        <link rel="stylesheet"
              href="{{ url_for('static', filename='tailwind.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='loader.css') }}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
              rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
              integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"/>
        <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
        <!--Favicon-->
        <link rel="apple-touch-icon"
              sizes="57x57"
              href="https://cdn.goodmorningtech.news/website/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon"
              sizes="60x60"
              href="https://cdn.goodmorningtech.news/website/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon"
              sizes="72x72"
              href="https://cdn.goodmorningtech.news/website/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon"
              sizes="76x76"
              href="https://cdn.goodmorningtech.news/website/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon"
              sizes="114x114"
              href="https://cdn.goodmorningtech.news/website/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon"
              sizes="120x120"
              href="https://cdn.goodmorningtech.news/website/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon"
              sizes="144x144"
              href="https://cdn.goodmorningtech.news/website/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon"
              sizes="152x152"
              href="https://cdn.goodmorningtech.news/website/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="https://cdn.goodmorningtech.news/website/favicon/apple-icon-180x180.png">
        <link rel="icon"
              type="image/png"
              sizes="192x192"
              href="https://cdn.goodmorningtech.news/website/favicon/android-icon-192x192.png">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="https://cdn.goodmorningtech.news/website/favicon/favicon-32x32.png">
        <link rel="icon"
              type="image/png"
              sizes="96x96"
              href="https://cdn.goodmorningtech.news/website/favicon/favicon-96x96.png">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="https://cdn.goodmorningtech.news/website/favicon/favicon-16x16.png">
        <link rel="manifest"
              href="https://cdn.goodmorningtech.news/website/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#C04040">
    </head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-789RZYD1XN"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'G-789RZYD1XN');
    </script>
    <body class="bg-gmt-bg dark:bg-gmt-dark-bg selection:bg-gmt-black-primary selection:text-red-600 dark:caret-white">
        <header id="header" class="top-0 z-50 w-full">
            <nav class="dark:text-white flex flex-wrap items-center justify-between w-full py-4 md:py-0 px-4 md:px-8 text-xl text-gmt-black-primary font-semibold font-gmt-fira">
                <div>
                    <a href="/">
                        <img class="w-24 md:w-28"
                             src="https://cdn.goodmorningtech.news/logo.png"
                             alt="">
                    </a>
                </div>
                {% if current_user.is_authenticated %}
                    <button id="dropdownUserAvatarButton"
                            data-dropdown-toggle="dropdownAvatar"
                            class="flex text-sm bg-gray-800 rounded-full ml-auto mr-2 border-[1px] border-black md:hidden"
                            type="button">
                        <span class="sr-only">Open user menu</span>
                        <img class="w-12 h-12 rounded-full hover:shadow-md hover:shadow-gray-400"
                             src="https://profile.goodmorningtech.news/{{ current_user.writer.user_name }}.jpg"
                             alt="user photo">
                    </button>
                {% endif %}
                <svg class="h-6 w-6 cursor-pointer md:hidden block fill-black dark:fill-white"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 50 50"
                     width="1599px"
                     height="1599px"
                     id="hamburger-menu">
                    <path d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z">
                    </path>
                </svg>
                <div class="hidden w-full md:flex md:items-center md:justify-between md:w-auto"
                     id="navigation-items">
                    <ul class="text-neutral-900 pt-4 md:flex md:justify-between md:pt-0"
                        id="navbar-item-list">
                        <li>
                            <a class="dark:text-white md:p-4 py-2 block md:border-t-gmt-bg dark:md:border-t-gmt-dark-bg md:border-t-4 hover:text-red-500 transition-colors text-center text-base md:text-xl lg:text-2xl"
                               href="{{ url_for('general.index') }}"
                               id="Home">Home</a>
                        </li>
                        <li>
                            <a class="dark:text-white md:p-4 py-2 block md:border-t-gmt-bg dark:md:border-t-gmt-dark-bg md:border-t-4 hover:text-red-500 transition-colors text-center text-base md:text-xl lg:text-2xl"
                               href="{{ url_for('general.about') }}"
                               id="About Us">About Us</a>
                        </li>
                        <li>
                            <a class="dark:text-white md:p-4 py-2 block md:border-t-gmt-bg dark:md:border-t-gmt-dark-bg md:border-t-4 hover:text-red-500 transition-colors text-center text-base md:text-xl lg:text-2xl"
                               href="{{ url_for('general.contact') }}"
                               id="Contact Us">Contact Us</a>
                        </li>
                        <li>
                            <a class="dark:text-white md:p-4 py-2 block md:border-t-gmt-bg dark:md:border-t-gmt-dark-bg md:border-t-4 hover:text-red-500 transition-colors text-center text-base md:text-xl lg:text-2xl"
                               href="{{ url_for('general.contribute') }}"
                               id="Contribute">Contribute</a>
                        </li>
                        <li>
                            <a class="md:p-4 py-2 block md:hidden hover:text-red-700 transition-colors text-center text-base text-gmt-red-primary"
                               href="{{ url_for('auth.subscribe') }}">SUBSCRIBE!</a>
                        </li>
                    </ul>
                </div>
                {% if current_user.is_authenticated %}
                    <button id="dropdownUserAvatarButton"
                            data-dropdown-toggle="dropdownAvatar"
                            class="flex text-sm bg-gray-800 rounded-full ml-0 mr-20 border-[1px] border-black hidden md:block"
                            type="button">
                        <span class="sr-only">Open user menu</span>
                        <img class="w-12 h-12 rounded-full hover:shadow-md hover:shadow-gray-400"
                             src="https://profile.goodmorningtech.news/{{ current_user.writer.user_name }}.jpg"
                             alt="user photo">
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdownAvatar"
                         class="z-50 hidden bg-white dark:bg-gmt-black-primary divide-y divide-gray-100 rounded-lg shadow w-44">
                        <div class="px-4 py-3 text-sm text-gray-900">
                            <div class="font-gmt-fira md:text-lg text-red-700 dark:text-red-500">{{ current_user.writer.name }}</div>
                            <div class="font-medium truncate dark:text-white">@{{ current_user.writer.user_name }}</div>
                        </div>
                        <ul class="py-2 text-sm text-gmt-black-primary font-gmt-open-sans font-semibold dark:text-white"
                            aria-labelledby="dropdownUserAvatarButton">
                            <li>
                                <a href="{{ url_for('writers.writer', user_name=current_user.writer.user_name) }}"
                                   class="block px-4 py-2 hover:bg-red-100"><i class="fas fa-user text-2xl mr-1 align-middle"></i>Profile</a>
                            </li>
                            <li>
                                <a href="{{ url_for('writers.portal') }}"
                                   class="block px-4 py-2 hover:bg-red-100"><i class="fas fa-globe text-2xl mr-1 align-middle"></i>Portal</a>
                            </li>
                            <li>
                                <a href="{{ url_for('writers.settings') }}"
                                   class="block px-4 py-2 hover:bg-red-100"><i class="fas fa-gear text-2xl mr-1 align-middle"></i>Settings</a>
                            </li>
                            <li>
                                <a href="{{ url_for('writers.create') }}"
                                   class="block px-4 py-2 hover:bg-red-100"><i class="fas fa-pen-fancy text-2xl mr-1 align-middle"></i>Create</a>
                            </li>
                        </ul>
                        <form class="py-2" method="POST" action="{{ url_for('writers.logout') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div class="px-4 py-2 text-sm hover:bg-red-100 block">
                                <i class="fas fa-xmark text-2xl mr-1 align-middle"></i>
                                <input type="submit" class="" value="Log out">
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div id="subscribe"
                         class="hidden bg-gmt-red-primary px-2 py-1 text-white md:visible md:px-4 md:py-1 md:shadow-md md:flex md:justify-between md:w-auto transition-colors hover:bg-red-500 md:text-xl lg:text-2xl sticky z-50">
                        <a href="{{ url_for('auth.subscribe') }}">SUBSCRIBE</a>
                    </div>
                {% endif %}
            </nav>
            <script src="{{ url_for('static', filename='JavaScript/layout/navbar.js') }}"></script>
            <script src="{{ url_for('static', filename='JavaScript/layout/darkmode.js') }}"></script>
        </header>
        {% block body %}<!-- Body goes here -->{% endblock %}

        <!-- Floating action Button -->
        <button id="dark-mode-toggle" onclick="toggleDarkMode()" class="fixed bottom-6 right-6 p-4 rounded-full text-white bg-gmt-pink ease-in transition-colors duration-300 hover:shadow-md hover:scale-105 shadow">
            <img id="dark-mode" src="https://cdn.goodmorningtech.news/website/dark_mode/dark.svg" alt="dark mode" class="w-6 h-6">
            <img id="light-mode" src="https://cdn.goodmorningtech.news/website/dark_mode/light.svg" alt="light mode" class="hidden w-6 h-6">
        </button>

        <footer class="bg-gmt-black-primary dark:bg-black text-center text-white lg:text-left font-gmt-open-sans">
            <div class="flex items-center justify-center border-b-2 border-white p-6 lg:justify-between">
                <div class="mr-12 hidden lg:block">
                    <span class="font-semibold">Connect with us on social networks:</span>
                </div>
                <div class="flex justify-center">
                    <a href="https://twitter.com/goodmorningtech" class="mr-6 text-white"><i class="fab fa-twitter hover:text-gray-400 transition-colors duration-300 ease-in-out"></i></a>
                    <a href="https://www.instagram.com/news.goodmorningtech/"
                       class="mr-6 text-white"><i class="fab fa-instagram hover:text-gray-400 transition-colors duration-300 ease-in-out"></i></a>
                    <a href="https://discord.goodmorningtech.news" class="mr-6 text-white"><i class="fab fa-discord hover:text-gray-400 transition-colors duration-300 ease-in-out"></i></a>
                    <a href="https://github.com/goodmornintech/goodmorningtech"
                       class="mr-6 text-white hover:text-gray-400 transition-colors duration-300 ease-in-out"><i class="fab fa-github"></i></a>
                    <a href="https://ko-fi.com/goodmorningtech"
                       class="text-white hover:text-gray-400 transition-colors duration-300 ease-in-out"><i class="fas fa-heart"></i></a>
                </div>
            </div>
            <div class="mx-6 py-10 text-center md:text-left">
                <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
                    <div class="">
                        <h6 class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start select-none">
                            <img class="mr-3 w-32"
                                 src="https://cdn.goodmorningtech.news/website/footer/gmt-white.png" alt="gmt logo"/>
                        </h6>
                        <div>
                            <div class="text-md">
                                <p class="font-semibold">
                                    Email us at: <a href="mailto:support@goodmorningtech.news"
    class="hover:text-gray-400 transition-colors duration-300 ease-in-out">support@goodmorningtech.news</a>
                                </p>
                                <p class="font-semibold">Public Release: 1.0.0</p>
                            </div>
                            <div>
                                <h6 class="mt-2 flex justify-center font-semibold uppercase md:justify-start">
                                    Lead
                                    developers:
                                </h6>
                                <ul class="font-semibold">
                                    <li>
                                        <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out"
                                           href="https://github.com/kappq">@kappq</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out"
                                           href="https://github.com/ImmaHarry">@immaharry</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out"
                                           href="https://github.com/LevaniVashadze/">@levanivashadze</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out"
                                           href="https://github.com/OpenSourceSimon">@opensourcesimon</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">Sponsored BY:</h6>
                        <div class="flex flex-col items-center md:items-start">
                            <p class="mb-4">
                                <a href="https://icons8.com/" class="">
                                    <img src="https://cdn.goodmorningtech.news/website/footer/icons8.png"
                                         alt="Icons8"
                                         class="w-24 select-none"/>
                                </a>
                            </p>
                            <p class="mb-4">
                                <a href="https://cybrancee.com/" class="">
                                    <img class="w-32 select-none"
                                         alt="Cybrancee"
                                         src="https://cdn.goodmorningtech.news/website/footer/cybrancee.png"/>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="">
                        <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">Useful links</h6>
                        <p class="mb-2 font-semibold">
                            <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out text-white"
                               href="{{ url_for('general.about') }}">About Us</a>
                        </p>
                        <p class="mb-2 font-semibold">
                            <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out text-white"
                               href="{{ url_for('general.contact') }}">Contact us</a>
                        </p>
                        <p class="mb-2 font-semibold">
                            <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out text-white"
                               href="{{ url_for('general.morning') }}">Morning</a>
                        </p>
                        <p class="mb-2 font-semibold">
                            <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out text-white"
                               href="{{ url_for('writers.portal') }}">Writer Portal</a>
                        </p>
                        <p class="mb-2 font-semibold">
                            <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out text-white"
                               href="{{ url_for('general.credits') }}">Credits
                            and Tech</a>
                        </p>
                        <p class="mb-2 font-semibold">
                            <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out text-white"
                               href="{{ url_for("general.privacy") }}">Privacy
                            Policy</a>
                        </p>
                        <p class="font-semibold">
                            <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out text-white"
                               href="{{ url_for('auth.unsubscribe') }}">Unsubscribe</a>
                        </p>
                    </div>
                    <div class="">
                        <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
                            Contribute to this
                            project
                        </h6>
                        <p class="mb-2 flex items-center justify-center font-semibold md:justify-start">
                            <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out"
                               href="https://github.com/GoodMorninTech/GoodMorningTech/issues/new/choose">Report a Bug</a>
                        </p>
                        <p class="mb-2 flex items-center justify-center font-semibold md:justify-start">
                            <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out"
                               href="https://github.com/GoodMorninTech/GoodMorningTech/issues/new/choose">Suggest a Feature</a>
                        </p>
                        <p class="mb-2 flex items-center justify-center font-semibold md:justify-start">
                            <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out"
                               href="">Project
                            Maintenance</a>
                        </p>
                        <p class="mb-2 flex items-center justify-center font-semibold md:justify-start">
                            <a class="hover:text-gray-400 transition-colors duration-300 ease-in-out"
                               href="{{ url_for('writers.apply') }}">Become a Writer</a>
                        </p>
                        <p class="flex items-center justify-center font-semibold md:justify-start">
                            <a href="#"
                               class="hover:text-gray-400 transition-colors duration-300 ease-in-out">Support the
                            Community</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="border-t-2 border-t-white p-6 text-left text-white">
                <p class="mb-1">
                    <span class="font-bold">Good Morning Tech</span> is a project by <span class="font-bold">Good Morning Tech Team</span>
                    and is licensed under the <span class="font-bold">MIT License</span>. All rights reserved.
                </p>
                <p class="mb-1">
                    <span class="font-bold">Good Morning Tech</span> is not affiliated with any of the companies
                    mentioned in the articles. All trademarks and registered trademarks are the property of their respective
                    owners.
                </p>
                <p class="mb-1">
                    © 2023 Good Morning Tech. All rights reserved
                </p>
            </div>
        </footer>
    </body>
</html>
