* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.header-text {
    font-size: 2.5rem;
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}


.animation {
    /*Centering on page and making it have a width of 75%*/
    margin: 0 auto;
    /*Centering the animation*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.fallback-text {
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin: 1rem 0;
    /*Centering on page and making it have a width of 75%*/
    margin: 0 auto;
    width: 75%;
}

.email {
    color: #C04040;
}