body {
    background-color: #F2F1F1;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 6rem;
}

h3 {
    font-size: 1rem;
    text-align: center;
}

a {
    text-decoration: underline;
    color: #000;
}

image {
    transform: scale(0.8);
}