{% extends  "layout.html" %}
{% block title %}Confirm Email{% endblock %}
{% block head %}
{% endblock %}
{% block body %}

    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% if status == "sent" %}
            <main>
                <div id="announcement"
                     class="font-gmt-open-sans text-md top-0 left-0 z-50 w-full bg-red-400 py-2 px-32 text-center font-semibold text-white md:text-lg lg:text-xl">
                    <i class="fa-solid fa-megaphone text-xl"></i>
                    Due to some technical issues with our email provider, the email will be sent from
                    goodmorningtechnews@gmail.com.
                    <br/>
                </div>

                {% if error %}
                    <p class="my-2 text-red-600 text-lg font-semibold px-2 py-1 bg-red-400 bg-opacity-10 rounded-md border-2 border-red-600 ">
                        <i class="fas fa-x"></i> {{ error }}
                    </p>
                {% endif %}

                <div class="flex h-screen w-screen flex-col items-center justify-center">
                    <h1 class="font-gmt-fira text-5xl font-bold dark:text-white text-black md:text-6xl">Almost there...</h1>
                    <p class="font-gmt-open-sans my-4 px-8 text-center text-2xl font-bold dark:text-white text-gmt-black-primary md:w-1/2 md:px-0">
                        We have sent you a verification link at <span
                            class="text-gmt-red-primary font-bold">{{ email }}</span>.<br/>
                        Please check your inbox and click the confirm email link available to confirm your Email.
                    </p>
                    <img class="hidden md:block" src="https://cdn.goodmorningtech.news/website/SignUp/confirm.svg"
                         alt="confirmation image"/>
                    <p class="font-gmt-open-sans my-2 px-8 text-center text-lg font-semibold leading-8 dark:text-gmt-gray-secondary text-gray-600 md:px-0">
                        Did not receive a link? Check your spam or click <a class="text-gmt-red-primary font-bold"
                                                                            href="">here</a> to send again.</p>
                </div>
            </main>
        {% elif status == "received" %}
            <main>

                <div class="flex h-screen flex-col items-center justify-center px-4 md:px-0">
                    {% if error %}
                        <p class="my-2 text-red-600 text-lg font-semibold px-2 py-1 bg-red-400 bg-opacity-10 rounded-md border-2 border-red-600 ">
                            <i class="fas fa-x"></i> {{ error }}
                        </p>
                    {% endif %}
                    <h1 class="font-gmt-open-sans text-center text-4xl font-bold dark:text-white text-black">Confirm your email by
                        clicking the button below.</h1>
                    <div>
                        <button type="submit"
                                class="focus:shadow-outline mt-4 rounded font-gmt-open-sans dark:bg-white bg-black py-2 px-4 text-xl font-bold dark:text-black text-white hover:bg-gray-700 focus:outline-none">
                            Confirm Email
                        </button>
                    </div>
                </div>
            </main>
        {% endif %}
    </form>
{% endblock %}
