body {
    background-color: #F2F1F1;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-404 {
    font-size: 16rem;
    color: #8E8E8E;
}

.text {
    color: #8E8E8E;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

.gohome {
    color: black;
    font-size: 3rem;
}

.gohome:hover {
    text-decoration: underline;
}

.footer {
    position: absolute;
    background-color: #272727;
    width: 100vw;
    height: 10vh;
    bottom: 0;
    left: 0;
}