body {
    background-color: #DFDFDF;
    padding: 0;
    margin: 0;
}

::placeholder {
    color: #DFDFDF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    margin-top: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    z-index: 20;
}

.navbar-links {
    display: flex;
    flex-direction: row;
}

.navbar-element-1, .navbar-element-2, .navbar-element-3, .navbar-element-4 {
    margin-right: 6rem;
    list-style: none;
}

.navbar-element-1:hover, .navbar-element-2:hover, .navbar-element-3:hover, .navbar-element-4:hover {
    text-decoration: underline;
    text-decoration-color: #272727;
}

a {
    text-decoration: none;
    color: #272727;
}

.current-page {
    color: #BD4646;
    font-weight: 700;
}

.current-page:hover {
    text-decoration: underline;
    color: #d43d3d;
}

.gmt-icon {
    margin-left: 6rem;
    margin-right: 6rem;
}

.subscribe-navbtn {
    margin-right: 6rem;
    background-color: #000000;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-box-shadow: -15px 26px 64px -19px rgba(28,28,28,0.97);
    -moz-box-shadow: -15px 26px 64px -19px rgba(28,28,28,0.97);
    box-shadow: -15px 26px 64px -19px rgba(28,28,28,0.97);
}

.subscribe-navbtn:hover {
    background-color: #272727;
    color: white;
}


.footer {
    /* position: absolute; */
    background-color: #272727;
    height: 10vh;
}

@media screen and (max-width: 1440px)   {
    .navbar-element-1, .navbar-element-2, .navbar-element-3, .navbar-element-4 {
        margin-right: 4rem;
        list-style: none;
    }
    .gmt-icon {
        margin-right: 4rem;
        margin-left: 4rem;
    }
    .subscribe-navbtn, .landing-img  {
        margin-right: 4rem;
    }
}

@media screen and (max-width: 1280px) {

    .navbar-element-1, .navbar-element-2, .navbar-element-3, .navbar-element-4 {
        margin-right: 2.25rem;
        list-style: none;
    }

    .gmt-icon {
        margin-right: 2.25rem;
        margin-left: 2.25rem;
    }

    .subscribe-navbtn  {
        margin-right: 2.25rem;
    }
}


@media screen and (max-width:1100px) {
    .navbar-element-1, .navbar-element-2, .navbar-element-3, .navbar-element-4, .subscribe-navbtn {
        font-size: 1.75rem;
    }
}
