.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    margin-top: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    z-index: 20;
}

.navbar-links {
    display: flex;
    flex-direction: row;
}

.navbar-element-1, .navbar-element-2, .navbar-element-3, .navbar-element-4 {
    margin-right: 6rem;
    list-style: none;
}

.navbar-element-1:hover, .navbar-element-2:hover, .navbar-element-3:hover, .navbar-element-4:hover {
    text-decoration: underline;
    text-decoration-color: #272727;
}

a {
    text-decoration: none;
    color: #272727;
}

.subscribe-navbtn {
    margin-right: 6rem;
    background-color: #000000;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-box-shadow: -15px 26px 64px -19px rgba(28,28,28,0.97);
    -moz-box-shadow: -15px 26px 64px -19px rgba(28,28,28,0.97);
    box-shadow: -15px 26px 64px -19px rgba(28,28,28,0.97);
}

.subscribe-navbtn:hover {
    background-color: #272727;
    color: white;
}

.gmt-icon {
    margin-left: 6rem;
    margin-right: 6rem;
}

body {
    background-color: #F2F0F1;
    margin: 0;
    padding: 0;
}

/* MAIN FORM CSS FORMAT */

form {
    display: flex;
    flex-direction: column;
    font-family: 'Inria Sans', sans-serif;
    border: #000000 3px solid;
    width: fit-content;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
}

.form-line2 {
    display: flex;
}

h1 {
    text-align: center;
    font-size: 2.25rem;
}

label {
    font-size: 1.75rem;
    font-weight: bold;
    margin-left: 1rem;
}

.email {
    width: inherit;
    padding-right: 4rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    padding-left: 2rem;
    margin-left: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: #F2F0F1;
    border: black 2px solid;
    margin-bottom: 0.5rem;
}


::placeholder {
    color: rgb(131, 131, 131);
}


.fa-envelope {
    font-size: 1.25rem;
    position: absolute;
    padding-left: 24px;
    padding-top: 6px;
}

.timezone-selector {
    width: inherit;
    padding-right: 3rem;
    margin-right: 0.25rem;
    font-size: 1.25rem;
    padding-left: 1.6rem;
    margin-left: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: #F2F0F1;
    border: black 2px solid;
    margin-bottom: 0.5rem;
}

.time-preference-label {
    margin-left: 0rem;
}

.time-preference {
    width: inherit;
    padding-right: 3rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    padding-left: 1.75rem;
    margin-left: 0.25rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: #F2F0F1;
    border: black 2px solid;
    margin-bottom: 0.5rem;
}

.clock1, .clock2 {
    position: absolute;
    padding-left: 24px;
    padding-top: 6px;
    font-size: 1.25rem;
}

.clock2 {
    padding-left: 12px;
    padding-top: 6px;
}

.days-selection {
    width: inherit;
    padding-right: 11.25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    padding-left: 1.5rem;
    margin-left: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: #F2F0F1;
    border: black 2px solid;
    margin-bottom: 0.5rem;
}

option {
    font-weight: 600;
}

.fa-calendar-days {
    position: absolute;
    font-size: 1.25rem;
    padding-left: 24px;
    padding-top: 6px;
}

.categories-selection {
    width: inherit;
    padding-right: 12.5rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    padding-left: 1.5rem;
    margin-left: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: #F2F0F1;
    border: black 2px solid;
}

.fa-heart {
    position: absolute;
    font-size: 1.25rem;
    padding-left: 24px;
    padding-top: 6px;
}

.footnote {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 1rem;
}

.policy {
    text-decoration: underline;
}

.signup {
    background-color: #000000;
    color: white;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.signup:hover {
    cursor: pointer;
    background-color: #272727;
}

.footer {
    position: absolute;
    background-color: #272727;
    width: 100vw;
    height: 10vh;
    bottom: 0;
    left: 0;
}