@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .highlight {
      background: linear-gradient(to bottom, #EBE9E4, #EBE9E4 55%, rgba(221, 68, 68, 0.25) 55%, rgba(221, 68, 68, 0.25));
    }
    .highlight-2 {
        background: linear-gradient(to bottom, white, white 55%, rgba(221, 68, 68, 0.25) 55%, rgba(221, 68, 68, 0.25));
    }

    .highlight-3 {
        background: linear-gradient(to bottom, #f6f4f0, #f6f4f0 55%, rgba(221, 68, 68, 0.25) 55%, rgba(221, 68, 68, 0.25));
    }
  }
  
html {
  scroll-behavior: smooth;
}
