name: Email Sender

on:
  schedule:
    - cron: '0 * * * *'

jobs:
  cron:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Send the emails
        run: |
          python -m flask --app newspaper commands send-emails
