name: Email Sender

on:
  schedule:
    - cron: '*/30 * * * *'

env:
  MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
  MAIL_PORT: ${{ secrets.MAIL_PORT }}
  MAIL_SERVER: ${{ secrets.MAIL_SERVER }}
  MAIL_USERNAME: ${{ secrets.MAIL_USERNAME }}
  MONGO_URI: ${{ secrets.MONGO_URI }}
  SECRET_KEY: ${{ secrets.SECRET_KEY }}
  SERVER_NAME: ${{ secrets.SERVER_NAME }}

jobs:
  cron:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Send the emails
        run: |
          python -m flask --app gmt commands send-emails
